[2013-06-23 17:06] zedtux opened #1 "Make package of the first beta"
I have to prepare a debian package that install Douane correctly so that it could be tested on Debian/Ubuntu.

[2013-06-23 17:07] zedtux opened #2 "Publish the sources of the configurator"
Publish on Github the sources of the Douane configurator.

[2013-06-27 18:19] #2 closed, assigned to zedtux

[2013-07-01 07:49] hotice opened #3 "Use pkexec instead of gksu"
It's probably a good idea to use pkexec [1] instead of gksu. Many apps have migrated to pkexec already and it seems gksu may be removed from the Ubuntu repositories at some point [2].

[1] http://askubuntu.com/questions/288087/can-i-use-pkexec-in-a-python-script-or-a-desktop-file
[2]http://askubuntu.com/questions/284306/why-is-gksu-no-longer-installed-by-default-in-13-04

[2013-07-01 07:54] zedtux opened #4 "Support multiple kernel versions"
The deb package should be able to install different kernel versions.

A user could use kernel 3.8, another one 3.9 and a final one 3.10.

[2013-07-01 07:56] zedtux opened #5 "Configurator desktop file not working properly"
Using the .desktop file makes the configurator not working properly. Using the switch to enable Douane ask for the password but then Douane doesn't started.

[2013-07-01 09:41] hotice opened #6 "Crash on exit"
Douane crashes on exit with the following error:

[code]

It seems it tries to access the autostart desktop file, which hasn't been created since I didn't clicked the switch to allow it to start on system startup.

[2013-07-01 09:42] hotice opened #7 "Douane asks for root password on exit"
Douane asks for root password on exit because, running "uninstallautostart" - that's pretty annoying and it's probably a good idea to avoid this.

[2013-07-01 13:57] zedtux opened #8 "Douane dependencies issue on Ubuntu 13.04"
Trying to install Douane on a Ubuntu 13.04 box show me the following error:

![screen shot 2013-07-01 at 3 55 39 pm](https://f.cloud.github.com/assets/478564/730528/11f57c46-e256-11e2-8463-0581a60fbca8.png)

[2013-07-01 14:01] zedtux opened #9 "Douane dependencies issue on Ubuntu 12.04"
See the error that is returned when installing Douane on a Ubuntu 12.04 box:

![screen shot 2013-07-01 at 3 59 55 pm](https://f.cloud.github.com/assets/478564/730552/ada65d0e-e256-11e2-8031-76f6231d9bde.png)

[2013-07-01 18:06] zedtux opened #10 "Add a dependency to the linux-image package"
As the different versions of the kernel as an impact on the kernel module of Douane a dependency in the debian/control file has to be define.

[2013-07-01 18:57] #4 closed, assigned to zedtux

[2013-07-02 11:20] #6 closed, assigned to zedtux

[2013-07-02 18:32] #8 closed, assigned to nobody

[2013-07-02 18:54] #9 closed, assigned to nobody

[2013-07-04 19:04] #5 closed, assigned to zedtux

[2013-07-05 08:14] hotice opened #11 "Can't connect to Dbus"
Douane can't connect to D-Bus. Here's what I get when running the configurator via terminal:

⌁ [andrei:~] $ /usr/bin/configurator

*\* (configurator:23540): WARNING **: Couldn't connect to accessibility bus: Failed to connect to socket /tmp/dbus-9GzcTxZqQO: Connection refused
/usr/lib/python3/dist-packages/gi/overrides/GLib.py:53: PyGIDeprecationWarning: threads_init longer needs to be called. Se

[2013-07-05 08:14] #3 closed, assigned to nobody

[2013-07-06 14:41] zedtux opened #12 "bash: /usr/bin/configurator: Permission denied"
Having installed on a clean new Ubuntu box I have the following error message when trying to start the configurator:

[code]

[2013-08-01 22:01] #12 closed, assigned to zedtux

[2013-08-01 22:01] #11 closed, assigned to nobody

[2013-08-01 22:02] #10 closed, assigned to zedtux

[2013-08-01 22:02] #7 closed, assigned to zedtux

[2013-08-01 22:02] #1 closed, assigned to zedtux

[2013-08-09 13:16] zedtux opened #13 "With deleted applications"
I just discovered the following bug:

If you're using an application that use the network, and you uninstall it without closing it, the `d_path()` method return the path with the suffix `(deleted)` and Douane try to find an application at that path.

[2013-08-09 15:02] #13 closed, assigned to zedtux

[2013-11-22 10:27] thob opened #14 "can't install the configurator in LXLE distro"
Lxle is based on Lubuntu 12.04 LTS

[2013-11-22 12:24] #14 closed, assigned to nobody

[2013-12-25 12:58] thob opened #15 "D-Bus service org.zedroot.Douane not found"
I get this error message in the configurator on Linux MInt 16. It also tells me that running the daemon needs root privileges

[2013-12-27 08:40] #15 closed, assigned to nobody

[2014-01-15 19:56] philipzae opened #16 "32-bit edition"
i'm running linux mint 13 32-bit and would like to use your program and wondered if you have any plans to publish 32-bit packages.

[2014-02-18 05:38] jesseanger opened #18 "D-Bus service org.zedroot.Douane not found"
Here are the details of the issue I am having.

From terminal
- Add ppa:zedtux/douane
- sudo apt-get update
- sudo apt-get install douane-testing

Observations:
Select the configuration tool from applications "Douane Configurator" I then noticed the Caution logo and hovered my mouse over it, the error reads:
- "D-Bus service org.zedroot.Douane not found"

![screenshot1](https://f.cloud.github.com/

[2014-02-18 21:33] #18 closed, assigned to nobody

[2014-02-22 08:35] #16 closed, assigned to nobody

[2014-02-22 08:36] zedtux opened #19 "Douane icon is missing"
After having installed the packages, the douane configurator has no icon.

[2014-02-22 08:38] #19 closed, assigned to zedtux

[2014-03-01 14:52] zedtux opened #20 "Rules for applications running through programs/libraries"
In the case of an application (ex. douane-configurator) access the internet through another program or library (ex. /usr/bin/python3.3), then there should be some means of disabling the original program and not the program/library it is going through or the combination of the two.

[2014-03-01 14:58] zedtux opened #21 "Simplified dialog"
As the user can only allow or disallow a program to access the internet, then there isnt a need to have a complicated dialog like “wants to connect to XXX.XXX.XXX.XXX on TCP port XXX (http)”. Something as simple as “wants to connect to the internet or local network” would do and possibly a hidden advanced info section that can be clicked to view the info. I'm assuming this advanced info is possibl

[2014-03-01 15:03] zedtux opened #22 "Dialog hide button not working"
I tested out clicking the hide button as well as the 'x' title bar button in the firewall dialog and doing this disabled internet access to the application and there was no means of getting back to the dialog to change the applications disabled access unless I restarted the firewall.

[2014-03-03 20:26] philipzae opened #23 "Adding Linux Mint support"
Douane works well on ubuntu, but i need linux mint support. :)

Here are my findings pulled from #16.

[2014-03-14 18:10] zedtux opened #24 "Separate daemon on GTK question window"
As of now, the daemon process is including the GTK dialog box which is shown when an unknown network activity is detected.

This makes me to implement the autostart on boot in a wired way (when you arrive on your desktop, a popup ask you your root password in order make douane started as it must wait the X server.

Separating them will allow the daemon to start as root on boot time.

The reason wh

[2014-03-23 11:39] #21 closed, assigned to nobody

[2014-03-28 13:14] philipzae opened #25 "http connection logs"
i'm assuming douane is saving logs of atleast requests that are denied according to the firewall rules, so i'd like to suggest the saving of http request to a long, as i havent found a good http sniffer application on linux. something as simple as request type (get, post, head, etc), application making the request, and url.

[2014-03-30 12:05] zedtux opened #26 "Use GNOME notifications"
Just an idea to be investigated:

GNOME (shell) has an amazing notification center which could be used instead of the douane dialog box.

[2014-04-12 18:16] #24 closed, assigned to zedtux

[2014-04-26 03:32] philipzae opened #27 "Discussion about Douane"
I visited a page entitled "Major Linux Problems on the Desktop 2014 edition" and one of the points the author stated was "No application level firewall (to clarify this point - there's no way to block or allow certain applications to access the Internet, e.g. /usr/bin/firefox) - SeLinux doesn't solve this problem because SeLinux policies by default don't apply to normal user applications and SeLin

[2014-04-27 18:41] pulser opened #28 "Git submodule for douane-daemon points to internal git server"
The git submodule for dbus/interface within douane-daemon points to your private git server, rather than the one now pushed to github.

For anyone trying to compile this, cd into douane-daemon, and edit .git/config, and change the file so it ends:

[code]

You can then run "git submodule init && git submodule update" to sync it.

I will see if it's possible to send a pull request to change the sub

[2014-04-27 18:54] pulser opened #29 "douane-configurator #! runs python, rather than python3 (Ubuntu 14.04)"
The shebang for the douane-configurator in /usr/local/bin uses the

[code]

shebang, which uses Python2 by default on many systems. Yet the one in the compilation directory uses the shebang

[code]

Which should use Python3 :) Obviously easy to fix, just wondering if this is an issue for anyone else, or if this is a relic from some old douane stuff I had lying around on the VM.

[2014-04-27 20:44] #28 closed, assigned to nobody

[2014-04-27 20:45] #29 closed, assigned to nobody

[2014-04-28 08:51] zabbal opened #30 "nftables support"
Would be great if douane could use nftables format for added rules directly.

[2014-05-02 08:36] stmc opened #31 "translations support"
it will be great to translate Douane into other languages

[2014-06-21 10:16] bonanza123 opened #32 "douane service fails on opensuse 13.1"
I tried to it running on OpenSuse 13.1, but I'm receiving some errors when trying to start the service. The dkms part worked fine and I'm able to load the corresponding module. But when trying to start the service this happens:

b:/home/bon # lsmod | grep douane
douane                 17508  0
b:/home/bon # modprobe  douane
b:/home/bon # service douane start
Job for douane.service failed. See 'sys

[2014-08-02 09:56] lepasserby opened #33 "Slightly more sophisticated rules engine (feature suggestion)"
It would be nice if we were given just a tiny bit more flexibility with regards to the rules for applications being allowed / blocked.

Specifically, it would be nice to have the ability to specify which interfaces the applications are allowed to use, which IPs/subnets and ports they are allowed to access (if any), which is pretty much bread-and-butter of firewalls, in my humble opinion.

Possible

[2014-08-25 06:29] vnevremeni opened #34 "Full system freeze after some time kernel module loaded"
Hello.
It's strange, but my system totally frozen the second time, after I started daemon.
All installed right, dialog appeared, asked for apps, and then (1-5 minutes) all just stopped, mouse not moving.
CTRL+ALT+F1 not working. ALT+SYSRQ+REISUB also!!!
I temporary disabled it.
Do you know why this is happening?

Kubuntu 14.04.1
Kernel 3.13.0-34-generic
KDE 4.13.3
fglrx-updates

[2014-09-20 23:44] #34 closed, assigned to nobody

[2014-09-28 11:08] MartijnDevNull opened #35 "Is there a 'successfully build/compatible on page'?"
Since for now there aren't any prebuilt packages, is there a page listing on which platforms Douane can run? Compiling and installing all the dependencies for this project can take a while, for me it would be reassuring knowing someone else already has been able to build it before on their platform. (Even though the install can differ from computer to computer)

I'm on Debian Jessie, which I would

[2014-11-08 06:37] zengyang2003 opened #36 "glib related bug?"
Various occasions find this on mint:

(douane-dialog:23554): glibmm-WARNING **: Glib::Error::throw_exception():
  unknown error domain 'rsvg-error-quark': throwing generic Glib::Error exception

terminate called after throwing an instance of 'Glib::Error'

[2014-11-08 06:39] zengyang2003 opened #37 "Problem with goagent"
Thanks very much for the soft, exactly what I need. But it cause dkms panic when use together with goagnet, any ideas?

[2014-11-08 14:56] #37 closed, assigned to nobody

[2014-11-08 18:17] ghost opened #38 "Problem running douane-configurator"
Hi!

I ran into the following error when trying to start douane-configurator.

`$ douane-configurator`

[code]

For what i see is obvious that it is not finding some stuff, but after googling couldn't find anything relevant on how to solve this, any hints?

Im on Ubuntu 14.04 x86_64.
Had no problems on compiling process.

[2014-11-08 18:43] #38 closed, assigned to nobody

[2014-11-11 19:25] brett opened #39 "current Arch pkgbuilds in AUR appear to be broken"
- init script depends on missing LSB functions
- lack of dependency on kernel header pkg

Will the packaging scripts be going in their own repo so that folks can submit pull requests?

[2015-01-05 12:01] y9yjRQcg7F opened #40 "D-Bus service org.zedroot.Douane not found [using Systemd]"
I'm using a freshly updated Arch Linux.  I've started the daemon using systemd's systemctl.  For some reason, the AUR package still installed an init.d file, despite the fact that I use Systemd.  When I run douane-configurator, there is an error icon next to the 'ON' switch.  If I press the 'ON' switch, it does ask for my root password.  If I hover over the error icon, it says, "D-Bus service org.

[2015-01-05 21:32] zedtux commented on #40
It seems something went wrong after having entered the root password. Have a look to the `/var/log/douane.log` file you should find an error which could help you.

[2015-01-06 18:10] y9yjRQcg7F commented on #40
No /var/log/douane.log file exists.

I just checked the status of douane and got the following back:

    systemctl status douane-daemon.service
    ● douane-daemon.service - Douane Daemon
       Loaded: loaded (/usr/lib/systemd/system/douane-daemon.service; enabled; vendor preset: disabled)
       Active: active (exited) (Result: exit-code) since Tue 2015-01-06 12:41:10 EST; 27min ago
 Main PID:

[2015-01-06 18:16] zedtux commented on #40
You found the issue and it seems to be the same as Douane/douane-daemon#3.

[2015-01-06 19:58] y9yjRQcg7F commented on #40
I installed start-stop-daemon and then was able to successfully start the douane-daemon.  It immediately started functioning as it should.  After about 30 minutes or so I got a kernel panic.  The only error I could find in /var/log/douane.log is this:

    06/01/2015 14:36:47 | daemon | ERROR | [rules_manager.cpp::RulesManager:135]: Unable to open the file /opt/douane/rules

[2015-01-06 19:59] y9yjRQcg7F commented on #40
I should also mention that after only 30 minutes of running, douane created 2.2 MB log.

[2015-01-06 20:03] zedtux commented on #40
Douane is not yet stable. The most important issue is the kernel panic, then the daemon taking too much memory and also the log file.

For now, I have asked several times to have a crash file in order to be able to analyse it and fix the kernel panic but nobody is able to do it.
I can only ask you to join the long issue Douane/douane-dkms#3 and cross my fingers that you will be the one :)

[2015-01-06 20:03] #40 closed

[2015-01-06 20:04] zedtux commented on #40
Just to avoid that you have to read the entire issue, here is the link to have crash installed : http://blog.zedroot.org/linux-kernel-debuging-using-kdump-and-crash/

[2015-01-06 20:43] y9yjRQcg7F commented on #40
Recompiling the kernel to get kdump running on my primary rig would be a bit too much research and work.  I'll get an Ubuntu VM setup and follow your instructions to save myself time.

[2015-01-07 11:16] zedtux commented on #40
Nice thank you.

[2015-03-15 22:06] skddc commented on #39
Would be great to have working Arch packages!

[2015-04-25 19:03] junkvolny opened #41 "autostart not working in all environments (systemd and so on)"
Script located at /etc/init.d/douane was not automatically started at startup, even when auto-startup was configured.

Running from command line inside /etc/init.d directory:
# sudo update-rc.d douane defaults

Fixed the problem. Maybe add this to installation script? I am a bit new to Linux, I don't know if this is distro specific.

I found the problem with adding logging to /etc/init.d/douane an

[2015-04-26 20:21] zedtux commented on #41
Can you please post the logs before and after ?

In my remembering, the feature auto start was working.

[2015-04-26 20:24] zedtux commented on #41
Also as an info: Bare in mind that the project is suffering of a kernel panic (Others and myself do not have time to fix it) so please be careful using Douane.
You can refer to the issue douane-dkms#3. I have a blog post explaining how to install the crash command in order to provide me the dump (as of today, nobody were able to provide me with a crash dump file. And for me it was working on Ubunt

[2015-04-27 14:33] junkvolny commented on #41
Indeed, I myself have issues with system freeze. I will be careful using it, that's why I test it in virtual machine first. In the meantime I will test some more, hoping to find out cause of freeze, or I will try to make a crash dump.

[2015-04-30 18:13] junkvolny opened #42 "wiki - kernel module compilation"
In page https://github.com/Douane/Douane/wiki/Compilation

Shouldn't there be instead of:
$ sudo make dkms
lines:
$ make
$ sudo make install
?

For me, "sudo make dkms" just prints:
make: dkms: Command not found
make: *** [dkms] Error 127

[2015-04-30 18:16] zedtux commented on #42
This is because you didn't read the dependencies page (https://github.com/Douane/Douane/wiki/Dependencies) where you will see that you have to install the `dkms` page.

[2015-04-30 18:16] #42 closed

[2015-04-30 18:47] junkvolny commented on #42
Sorry, my bad, too much (re)installing.  *embarrassed*
To be sure, I made installation script for testing clean install on Ubuntu/Kubuntu, if it helps anybody:
http://pastebin.com/CJSpizkR

[2015-05-01 10:36] zedtux commented on #42
Nice :)

[2015-05-13 14:01] unidesign commented on #36
I want to say that I get the same error, too. Douane doesn't work on Linux Mint.
After compilation which runs completely successfull (unless twitter window due to bad key, but that's totally okay imho) I dont get any icon or similar. When I start `sudo service douane start` and than `douane-configurator` the configurator starts and directly two windows for active apps like `firefox` ask me to allo

[2015-05-13 17:17] zedtux commented on #36
Alright so this seems to be a confirmed bug at least on Mint.

Recently I've switched from Ubuntu to Debian so I will check if I have the error like you.

[2015-05-14 08:02] zedtux commented on #36
@TheCherry you can enable debug using the `--debug` flag when starting the `douane-dialog` process

[2015-05-14 08:07] zedtux commented on #36
I'm downloading a VirtualBox image named "LinuxMint 14 x86 Cinnamon". Hopefully this will cover your case.

[2015-05-14 08:14] zedtux commented on #36
As I have re-opened the issue in the right project I'm closing this one.

[2015-05-14 08:14] #36 closed

[2015-05-14 08:22] zedtux commented on #36
I've finally found a 17 version image

[2015-05-14 17:38] unidesign opened #43 "No icons generated after installation"
After compilation and installation the manual page implifies that icons/shortcuts are now generated,
but that's not true at least for linux mint. Here is explained how to shortcut an application for linux systems: http://www.sysads.co.uk/2014/04/install-latest-eclipse-ide-ubuntu-14-04-13-10/

It is also hard to generate a shortcut manually because honestly I dont know which program to start in whi

[2015-05-14 17:41] unidesign opened #44 "Show whole path of file additionally"
For some programs I'm not sure what's behind the name of this application/service so getting the whole name additionally (maybe on click of the blocked app name it could yield to folder) would be nice.

E: to be more precise I mean the window which appears if Douane askes for allow or deny the app.

[2015-05-14 21:10] zedtux commented on #44
Please @unidesign read the page [Architecture](https://github.com/Douane/Douane/wiki/Architecture) in order to avoid opening issues at the wrong place :)

[2015-05-14 21:12] zedtux commented on #44
I'm closing this one

[2015-05-14 21:12] #44 closed

[2015-05-14 21:16] zedtux commented on #43
The normal behavior is that you only start the `douane-configurator` and the rest is started from it.

[2015-05-14 21:16] #43 closed

[2015-05-14 21:18] unidesign commented on #43
Okay that's good to know, thanks.

[2015-05-30 17:32] free5lot opened #45 "Push your project to Debian/Ubuntu repos as soon as possible!"
Please, push your project to Debian/Ubuntu repos as soon as possible!
Your firewall with per-application approach seems to be a great thing with no appropriate alternative there.
So, please, allow more people who are concerned with security or internet activity on their computers to use it, even if they're not confident enough to build it out of sources themselves.
I think Ubuntu's PPA will work (

[2015-05-30 18:19] zedtux commented on #45
Thank you for your issue :)

I had worked on the packaging for Ubuntu in the past but it's time consuming so I've decided to focus on the development only and let people expert in packaging (or having time) to do it instead.

Sorry to not help more on this. In the other hand I'm fully available to help anyone about dependencies and so on.

[2015-05-30 18:24] skddc commented on #45
Sorry to just jump in here like that, but maybe you could consider publishing the Arch packages from https://github.com/Douane/Douane/wiki/Archlinux-Packaging on AUR sometime? :)

[2015-05-30 18:29] free5lot commented on #45
Thanks for your affords! Anyway, now you'll have one more unclosed enhancement-issue :)

Let me be clear, no matter how good your project would be, it won't make the world a better place if no one would use. And now you have some users, but quite high-level skills required to be one.
On the other hand you're making a GUI application, that would be an easy to use for a average GNU/Linux user. But h

[2015-05-30 18:32] zedtux commented on #45
@free5lot I fully agree with you and you're right ! In the case you know a way to promote the project to packagers, it would be great.

@skddc Welcome ! :) As I wrote I don't have the time (nor the knowledge) sorry. You should contact @pulser the guy who did the Arch package.

[2015-05-30 18:38] free5lot commented on #45
@zedtux maybe you should search for a maintainer on some Ubuntu-related forums or send an offer to some maintainers of other security/firewall related packages in the Ubuntu/Debian repository or PPA. Maybe you'll find one with a suitable knowledge and spare time for you project there.

[2015-06-24 11:51] eclipsed-ninja opened #46 "Installing on *buntu"
Awesome software I must say, Can't wait to contribute towards this project.

A little issue I found is dbus include; in file dbus/dbus_server.h (line 5), dbus files are in
dbus-1.0/dbus/dbus.h (in case of *buntu, most probably debian aswell)

Made this change hardcoded in the file, trying to resolve the missing dbus-arch-deps.h
Will keep you updated on my build, once it's done I'll see if I can bu

[2015-06-24 11:54] zedtux commented on #46
Alright, thank you @eclipsed-ninja for your issue. I'm surprised as I have developed the software on Ubuntu and I've used it on Debian.

Have you followed [the compilation guide](https://github.com/Douane/Douane/wiki/Compilation) ?

[2015-06-24 11:58] eclipsed-ninja commented on #46
Yeah, I'm following the same doc,

Weird that you didn't face them, do you have a list of dependencies handy ?
I used libdbus-1-dev for the dbus headers, went straight to /usr/include/dbus-1.0/dbus/
also, I'm getting a missing dbus-arch-deps (working on resolving it)

[2015-06-24 12:03] eclipsed-ninja commented on #46
Sorry, just found what I was looking for

[2015-06-24 12:06] #46 closed

[2015-07-21 19:11] bash64 opened #47 "locks up whole system on kernel 4.1.2"
Linux Mint 17.2 64bit cinnamon
Kernel 4.1.2

I compiled for this kernel.
Every time I launch douane-configurator  and turn on douane it locks up my whole laptop.
I must force it off.

What kernels has this been tested with?

[2015-07-22 17:08] zedtux commented on #47
I believe it has been tested only on 3.x kernel versions.

If you could try to follow the instruction on my blog : http://blog.zedroot.org/linux-kernel-debuging-using-kdump-and-crash/ you would then be able to give me the crash file so that I could analyze what is going wrong.

[2015-07-28 13:07] bash64 commented on #47
I need to recompile for 3.18, currently it is compiled for 3.13.
How do I start over clean?

When I do sudo make dkms I get a lot of errors about existing folders.
When I do sudo make clean dkms I am told I cannot do this more than once.

dad@dad-pc ~/Douane/douane-dkms $ sudo make clean dkms
make -C /lib/modules/3.18.6-031806-generic/build M= clean
make[1]: Entering directory `/usr/src/linux-head

[2015-07-30 14:52] zedtux commented on #47
`make clean dkms` do not exists in the Makefile.

You have to use `make cleandkms` in order to remove the module and then use `make dkms` to re-install it.

[2015-07-31 12:40] bash64 commented on #47
Hello,

I have gotten around to fully testing Douane in Linux Mint 17.2 64 bit
with Cinnamon Desktop.
It is working well.
If I can help do anything to make this software work with kernel 4 just
let me know.

Here is the documentation I have made for installation in my OS:

Status: Verified and fully tested. However, it does not work with kernel
4 at this time.

Douane - an easy to use firewall tha

[2015-07-31 13:26] bash64 commented on #47
Just a note.
Douane was locking up, but I found on your forums that virtualbox may
have been the issue.
I checked and virtualbox was having an issue.
It was installed for 3.13 and I was booted into 3.18.
After removing virtualbox completely all of the locking up has stopped.

On 07/22/2015 01:08 PM, Guillaume Hain wrote:

[2015-07-31 16:51] zedtux commented on #47
Nice @bash64 !

I can work on the 4.x kernel version issue if I have a crash file (see my first comment).

[2015-07-31 22:27] bash64 commented on #47
Working as a redhat administrator I am familiar with kdump.
Honestly, it may have been virtualbox that caused lockups under kernel 4.
I will recompile for kernel 4 tonight and let you know.
Your product is so good I won't even use virtualbox any more just so I
can have Douane.
:-D

On 07/31/2015 12:51 PM, Guillaume Hain wrote:

[2015-08-01 05:52] bash64 commented on #47
I recompiled for kernel 4 and it locks up the whole system immediately.
Will get you a kdump.
Later on.

On 07/31/2015 12:51 PM, Guillaume Hain wrote:

[2015-08-01 06:13] zedtux commented on #47
Thank you @bash64 for your comments ! I'm really happy that you like my app ! :) And sorry for the freeze ...

[2015-08-10 13:34] cynicbox opened #48 "Daemon stops when I try to add rule for ossec-agentd"
I have OSSEC installed on my machine. OSSEC system runs agent which send some data through the network. OSSEC runs under separated user. When I try to add rule for ossec-agentd douane-dialog closes and douane daemon stops.

Ubuntu 14.04.2 64-bit, kernel 3.13.0-61-generic
Douane 0.9.0
OSSEC HID 2.8

How do I to add rule manually?

[2015-08-10 14:58] zedtux commented on #48
@cynicbox can you please start the daemon manually (without going through the configuration) with the `-D` flag (for debug mode) and post the log file (`/var/log/douane.log`) ?

[2015-08-11 06:40] cynicbox commented on #48
Alas, I can't intercept time of agent activity. douane-dialog does not appear in time of expectation. Manual running of dialog shows no any network activity. Daemon blocks any app without rule in list.

[2015-08-11 08:37] zedtux commented on #48
Normally the `-D` flag is supposed to make the daemon logging everything happening which means you should then see some logs about the agent traffic at the end of the day in this log file.

Another thing could be to enable the debug in the kernel module but this is a bit more tricky and can create big log files.

[2015-08-11 08:41] cynicbox commented on #48
Alright, I got log but found nothing useful inside. Last rows before stopping look like

11/08/2015 12:06:52 | daemon | DEBUG | [netlink_listener.cpp::NetlinkListener:97]: NetlinkListener::send_rule ALLOW for /bin/ossec-agentd
11/08/2015 12:06:52 | daemon |  INFO | [rules_manager.cpp::RulesManager:89]: Currently 6 pending rules

[2015-08-11 12:03] zedtux commented on #48
Well I disagree with you :)

It looks like you've already allowed the OSSEC agent but you still have 6 pending validations (for 6 different applications).

Now you should start the dialog process also with the `-D` flag to have also the debug enabled and see why you do not have the window appearing

[2015-09-02 10:11] raymondsteers commented on #25
You might try the browser plugin called uBlock Origin as it has a very complete and easy to access log of all browser requests.
![image](https://cloud.githubusercontent.com/assets/8668107/9628513/1554f4e0-5174-11e5-8c22-0c7c043d12ff.png)

[2015-09-02 17:01] samumi commented on #23
Hello, Linux Mint 17.2 XFCE user here. Compiled the app as described and also got  the "D-Bus service org.zedroot.Douane" and "Missing Popup" error described by philipzae.

I was only able to unistall dkms. How to uninstall the rest?

[2015-09-05 17:00] sharan01 opened #49 "archlinux PKGBUILD error"
i am using makepkg to build douane-dialog,  PKGBUILD from here https://github.com/Douane/Douane/wiki/Archlinux-Packaging

but i get error check line number 32
[code]
https://gist.github.com/sharan01/6e8201de9ec378a3c1f5

how to fix the error?

thanks

[2015-09-06 10:24] zedtux commented on #49
Thank you for trying Douane. Your issue seems related to PKGBUILD, not to Douane, so I close this issue. Sorry I don't know at all Arch.

[2015-09-06 10:24] #49 closed

[2015-09-23 13:51] pyprism opened #50 "Blank box"
I am using Ubuntu 15.04. Its doesn't show allow/deny option in the box.

![screenshot from 2015-09-23 19 49 48](https://cloud.githubusercontent.com/assets/1469242/10046721/497acb78-622c-11e5-84ee-0c33e902e79f.png)

[2015-09-23 14:02] zedtux commented on #50
:-o  ... Can someone else confirm this issue / have a look in case you're a dev ?

[2015-09-23 15:35] TechnoKickAss commented on #50
I can confirm it on Elementary OS.

[2015-09-23 15:44] zedtux commented on #50
Is it the same @pyprism for you ? Does it appears sometimes or you never ever have the content of the window ?

[2015-09-24 03:32] pyprism commented on #50
Yes its same for me .

[2015-09-24 06:50] zedtux commented on #50
Alright. Can you please run Douane dialog in debug mode (passing the `-D` flag) in a terminal and copy/paste the output ?

[2015-10-26 18:32] rambo919 commented on #41
Same problem, nothing even happens in the log file when the autostart option is toggled...
Had to skip "systemctl daemon-reload" during install because I do not use systemd... dunno if that's related.

Here is the log file anyway

http://pastebin.com/R2uPVD8q

[2015-10-26 22:10] zedtux commented on #41
I'm now using Debian, which is using systemd so I could spend some time on the systemd integration but then leaving without any support for the init script.

[2015-11-04 18:22] shpedoikal opened #51 "douane-dialog build issue on Fedora 22/23"
Build log:

http://pastebin.com/crKBzB3E

[2015-11-04 18:31] zedtux commented on #51
It looks like a dependency conflict to me but not sure.

[2015-11-30 01:53] bzkdjc opened #52 "Ubuntu Wily (15.10) Kernel 4.2.0 + douane-daemon => System Freeze"
Hi,
`douane-daemon` immediately **freezes whole system** as soon as launched after build, on Ubuntu Wily 15.10 with its default kernel 4.2.0.

[2015-12-01 10:52] zedtux commented on #52
Thanks @bzkdjc for having reported this.

[2015-12-04 14:55] shpedoikal commented on #51
Forgot to mention that I had a huge number of errors until I manually added -std=c++11 to the build. After that I got this smaller number of errors.

Can you post your compiler version?  Thanks

[2015-12-04 15:04] shpedoikal commented on #51
I also see these errors on Fedora 23, so I've updated the title to reflect that.

[2015-12-20 07:26] ssokolow opened #53 "Support handling localhost requests and external network requests separately"
I like Douane in principle, but it would be a lot more useful to me if I could configure it to automatically allow requests on the loopback adapter and only bother me about requests that actually leave my PC. (Both for minimizing annoyance and as a second layer of defense on daemons which need a local loopback socket but should never be exposed to the wider world.)

As-is, its behaviour is so coun

[2015-12-20 07:33] zedtux commented on #53
Thank you @ssokolow for your comment.

Just for me to be sure to well understand your need, you would like to have a kind of checkbox in the configurator, which would allow automatically all the network traffic on the loopback (127.x.x.x) ?

[2015-12-20 07:42] ssokolow commented on #53
Yes.

Specifically, if I enable it, I'd like to see...
1. No dialog for `lo` traffic
1. A dialog for `eth0` traffic, even if the application already made successful `lo` requests before.
1. If I deny an application Internet/LAN access, then `lo` must still work.

(I've got iptables configured to automatically pass through `lo` traffic because many applications use it as an alternative to UNIX doma

[2015-12-20 09:48] ssokolow commented on #26
I had a long detailed post with lots of citations but Douane froze my kernel an hour after being installed when my desktop normally stays logged in and running for a month or two at a time. As such, here's the rushed rewrite...

**First,** Remove the "Use the Allow or Deny button." That's obvious from the combination of Allow and Deny buttons with the "Spotify wants..." message and saying it like

[2015-12-20 11:00] zedtux commented on #53
Great, it's super clear.

[2015-12-20 11:04] zedtux commented on #26
Thank you @ssokolow for the update on this ticket, and sorry for the kernel crash x-|

[2015-12-20 19:05] Greenheart opened #54 "Installation problems - Unable to use 'systemctl' command to follow with instructions"
Sorry if this is obvious, but I'm new to Linux and would be really thankful for some guidance.

I'm running Ubuntu 14.04, which doesn't include `systemd` and the `systemctl`-command.
According to [this answer](https://askubuntu.com/questions/304860/what-is-the-systemctl-equivalent/496385#496385), it's possible to get this working on my system, but I didn't get it to work.

Do I have to use systemc

[2015-12-21 08:25] zedtux commented on #54
As of now, nobody has implemented `systemd` in Douane, but I would be more than happy to get a PR.

[2015-12-21 11:13] zedtux commented on #53
@ssokolow in the case you would like to help me, fixing the kernel freeze, I wrote a blog article which explains how to debug a kernel module : http://blog.zedroot.org/linux-kernel-debuging-using-kdump-and-crash/.

I need to get the crash file from people having the freeze in order to fix it, so in the case you have some time :)

[2015-12-21 11:49] Greenheart commented on #54
Thanks for the quick reply! :smile:

I might have expressed myself unclearly.

I have trouble *compiling and installing* Douane since my system can't use the `systemctl`-command.
When I try to [install the daemon](https://github.com/Douane/Douane/wiki/Compilation#the-daemon) and run this step

```systemctl daemon-reload```

i get `systemctl: command not found`

![command not found](https://cloud.g

[2015-12-21 12:22] ssokolow commented on #53
At the moment, I have far too much time tied up in catching up a slipped milestone in my degree project to promise anything.

However, do you know if kdump is supposed to dump nothing at all if you forget to install the ddebs?

I ask because, before I gave up on LIRC and uninstalled the driver for my StreamZap IR remote earlier this year, I did every step for installing kdump except installing the

[2015-12-21 12:52] zedtux commented on #53
Well, the debug symbols are useful in the case you would like to debug your self, as far as I know. So in the case you only want to help me, and generate the crash file, you shouldn't need the debug symbols.

[2015-12-21 12:57] ssokolow commented on #53
Yes, but the question is whether it's the lack of debug symbols, the kernel crash itself, or something else that resulted in no new file being written to `/var/crash` when Douane froze my system.

[2015-12-21 13:11] zedtux commented on #53
The debug symbols are used only to show, in the stack trace that you got from the crash file, the name of the methods. So with or without them, as far as I know, the crash file will be generated the same way.

What do you mean with "in the swap partition" ? The crash files are stored in `/var/crash/`. You have to care about the size of the partition where the `/var/` folder is.

[2015-12-21 13:30] ssokolow commented on #53
From your blog post.

As for the `/var/` folder, it's on a drive with 27GiB free.

[2015-12-21 13:31] zedtux commented on #53
Mmm .... then I'm not really sure .. now even if you have 16GiB of RAM, you're surely not have that amount of data to dump.

Just give it a try :)

[2015-12-21 13:40] ssokolow commented on #53
I already had kdump set up according to your instructions (except for the debugging symbols) before Douane froze my kernel but no dump was produced.

That's why I'm asking if you know whether a lack of symbols will prevent the dump from being written.

[2015-12-21 14:23] zedtux commented on #53
Has your system booted a second kernel and moved your session to it ?

[2015-12-21 14:29] ssokolow commented on #53
For both the LIRC crasher and this one, it hard-froze with no clue what happened.

KMS-less nVidia binary drivers stuck displaying the last image they were displaying at the time of the freeze, sshd non-responsive to new connections, and no dump or relevant kernel log entries in `/var` after waiting a few minutes and then rebooting.

[2015-12-21 18:04] zedtux commented on #53
Mmm have you answered 'yes' to the installation question about the reboot ?

If you answer no to the question, you're going to keep the normal behavior.

[2015-12-22 05:30] ssokolow commented on #53
I can't remember, but I probably chose 'no' because, when I reboot through a means other than "power outage", it's usually because I need to reset wedged firmware in some non-hotpluggable device like a bargain-basement DVD+R drive. (They tend to wear out after 500-600 discs burned, so I get the cheapest ones I can find.)

[2015-12-22 10:08] zedtux commented on #53
Okay, it could be the reason why you don't have the crash file (I mean, I never tried anything else than what I wrote in my blog article).

Now answering 'yes' would reboot on a new kernel on hot restart, but you can use a cold restart in order to really restart your machine.

If I may suggest you, try using the 'yes' answer and see if it's better, then you can revert to the 'no' answer. Just to c

[2015-12-22 10:43] ssokolow commented on #53
The problem is that I don't have time to intentionally reboot any time soon and, if I leave it on by default, I'd:

1. forget
2. do a warm reboot
3. only realize what I'd done after spending several minutes waiting for my complex, heavy desktop loadout to boot (with human intervention required because Pidgin has no "ignore self-signed IRC SSL cert" option by design, times out SSL handshaking very

[2015-12-22 13:59] zedtux commented on #53
Alright, sure. In the case you have time later, I will be more than happy to get a crash file or a PR ;) Anyway, thanks !

[2016-01-01 21:58] Afforess commented on #52
I also experienced this. Ubuntu Wily + Kernel 4.3.0-040300-generic.

[2016-01-02 08:24] zedtux commented on #52
I have prepared a Debian box yesterday (Kernel 4.3.0). I'm going to do some testing myself, but in case you'd like to help me, please send me the crash file after a system freeze (see [my blog article](http://blog.zedroot.org/linux-kernel-debuging-using-kdump-and-crash/) in order to configure your machine and get this crash file).

[2016-01-18 08:26] #54 closed

[2016-02-05 05:08] #50 closed

[2016-02-05 05:49] zedtux commented on #50
@pyprism were you able to reproduce the issue ?

[2016-02-28 13:49] czapa-ols commented on #51
The problem is within dbus-c++: the collision is between the macro bind_property in dbus-c++/interface.h and the method bind_property in glibmm/binding.h

`#include <gtkmm.h>` before `#include<dbus-c++/dbus.h>` in dbus/douane.h and dbus/dbus_client.h seams to fix issue (at least dialog builds)

[2016-03-10 06:52] TomAshley303 commented on #52
Is this fixed? I just installed all the deps just to find this thread.

[2016-03-22 01:40] dansavio commented on #52
I'm also very interested in using this with a 4.x kernel

[2016-03-22 09:18] zedtux commented on #52
I wasn't able to work on this until now. As I said before, you can have a look at [my blog article](http://blog.zedroot.org/linux-kernel-debuging-using-kdump-and-crash/) in order to configure your machine and get a crash file which would help me in order to see the bug and try to fix.

[2016-03-24 12:11] uberschlock commented on #52
Hi. My system freezes as well. I attached some info from `crash`. Hope it's helpful.
[crash output.txt](https://github.com/Douane/Douane/files/187790/crash.output.txt)

[2016-03-24 13:49] zedtux commented on #52
Thank you @uberschlock I'll have a look

[2016-04-15 22:31] Sharsie commented on #52
Do you need any assistance in debugging it any further? I got the same error while building as https://github.com/Douane/Douane/issues/51#issue-115116179 on kubuntu 15.10 and also got a freezes on 14.04, cant remember kernel version, but it's current version

[2016-04-16 11:14] zedtux commented on #52
I need time actually. I'm sorry to not be more reactive on this project.

[2016-05-05 17:29] rjzak opened #55 "No notification for SSH connections"
SSH connections die when:
1) SSH connection already established
2) Douane service started.

Douane seems to not be aware of SSH, and the connection dies from a timeout. This also affected a local VNC connection to a locally running VM.

[2016-05-05 18:32] zedtux commented on #55
This sounds strange. Douane should block and notify you about it. The behavior you've described is similar to when Douane is blocking the app but you do not have the dialog process running, don't you?

[2016-05-07 02:37] Guimli commented on #52
Hello

NetFilter Hook function has changed
[douane-dkms.patch.txt](https://github.com/Douane/Douane/files/253246/douane-dkms.patch.txt)

[2016-05-07 08:00] zedtux commented on #52
Hey thank @Guimli :) Can you please open a PR here: https://github.com/Douane/douane-dkms ?

[2016-05-07 22:33] Guimli commented on #52
I'm studying the differences between netfilter versions. There are a major modification from kernel 4.0 to 4.1. The in and out net_device moved to the new nf_hook_state_init function. I'm not developer, i cannot implement this new function.

[2016-05-08 08:49] zedtux commented on #52
Thank you @Guimli for those information. I will check as we already have [a kernel 4.4 compatibility PR](https://github.com/Douane/douane-dkms/pull/15) open, maybe it is fixing this point.

[2016-05-08 08:49] zedtux commented on #52
It looks like it's fixing this point :)

[2016-05-08 12:37] Guimli commented on #52
Pull Request send !

[2016-05-08 14:11] Guimli commented on #47
Tested on Linux Mint 17.2 with https://github.com/Douane/douane-dkms/pull/16.
Working for me.

[2016-05-08 16:29] zedtux commented on #47
@bash64 can you give a try to the @Guimli's branch and update us?

[2016-05-08 21:42] bash64 commented on #47
sure. I did a beta upgrade to linux mint 18 (ubuntu 16.04) so I would be
testing with that instead of mint 17.
but it is still kernel 4.4 for me.

On 05/08/2016 12:29 PM, Guillaume Hain wrote:

[2016-05-09 07:33] zedtux commented on #47
@bash64 in case you need help, feel free to ask :)

[2016-05-09 11:02] bash64 commented on #47
Linux mint 18 beta went belly up. I am back on 17.3 64bit.
I have a job interview today. I will get to it sometime this evening.

[2016-05-09 12:09] bash64 commented on #47
See Guimil net filter thread for my error message.

[2016-05-12 10:42] mr-blobbyyy commented on #41
I just got to `systemctl: command not found` in the compile process. What should I do now, just forget about it and continue with `sudo service douane start` ?

Linux Mint 17.3 Xfce, kernel 3.19.0-32

[2016-05-12 12:24] mr-blobbyyy commented on #41
Alright, I perhaps foolishly did `sudo update-rc.d douane defaults` outside of the /etc/init.d directory, it game me a warning about missing LSB information. I started the deamon, coudn't access anything on the internet (including the remaining github code...why is this so hard), stopped the deamon, finished the rest of the compile process, restarted the deamon again, it started working...for a wh

[2016-05-12 13:13] zedtux commented on #41
@mr-blobbyyy Douane is compatible with GNOME only as I'm a GNOME user. In the case someone wants to have it working on Xfce or any other desktop environment, he "just" have to fork [douane-dialog](https://github.com/Douane/douane-dialog) and implement the UI instructions for the environment.

The Compatibility section on http://douaneapp.com/ gives this information. In case someone implements Doua

[2016-05-18 18:39] Sharsie opened #56 "Docker compatibility"
So I tried to run some docker containers, namely syncthing with Douane running on the host computer. The docker container has no issues connecting to the internet, which is fine, however, Douane Dialog keeps prompting me for applications trying to access the network from inside the container and then crashing once I press Allow/Deny
The issue is as follows:
Inside the docker container, there is an

[2016-05-28 10:30] Sharsie commented on #56
Well I have been getting kernel panics I am not sure if this is all from douaned, or whether this is because of the docker+douane combo (it does not seem to crash when no docker container is running, but it can be stable for a day and then crash), if anyone is interested i'm also posting backtrace for both panics I managed to crashdump (first one came from sshd - I have a tunnel to a VPS that is b

[2016-05-29 16:40] zedtux commented on #56
Hello and thank you @Sharsie for you issue.

I never tester Douane and Docker together and what you're explaining seems right. Douane has been built for a non virtualised environment. For sure it needs to be implemented but for now, I'm sorry it's not taken into account.

I should build a list of things "TODO" on the main page.

[2016-05-29 16:41] zedtux commented on #56
@Sharsie can you please double check you links?

[2016-05-30 06:25] Sharsie commented on #56
Hey there zedtux, sorry, it must have expired even though I chose "never expire"... anyway, i'll try again from a pastebin account:

sshd:
http://pastebin.com/QJTnghxH
douaned:
http://pastebin.com/TLJHihqD
http://pastebin.com/BHAg91Us
http://pastebin.com/SSYqNkCH
http://pastebin.com/EV8TPNRQ

One more thing, the last log is from today, I turned off all docker containers to see what happens and it

[2016-07-04 03:40] thwaller opened #57 "kernel module compile"
After installing dependencies, I get to here on the procedure:
git clone https://github.com/Douane/douane-dkms
cd douane-dkms
sudo make dkms

After the last line in the process, I get the following:
Makefile:77: recipe for target 'dkms' failed
make: *** [dkms] Error 1

I am running:
Release 16.04 LTS (Xenial Xerus) 64-bit
Kernel Linux 4.4.0-30-generic x86_64

[2016-07-04 06:04] zedtux commented on #57
Hello @thwaller,

You should better read the documentation :)
First paragraph:

[code]

[2016-07-04 06:05] #57 closed

[2016-07-04 06:11] thwaller commented on #57
@zedtux
As I started it out, "after install dependencies". They are all installed. I have read the whole procedure.

[2016-07-04 06:19] zedtux commented on #57
Sorry @thwaller, I went to fast through your issue. Can you please give a try to this: Douane/douane-dkms#15 ?

[2016-07-04 06:33] thwaller commented on #57
Installing Douane Linux kernel module version 0.8.2...
mkdir: cannot create directory ‘/usr/src/douane-0.8.2’: File exists
Makefile:77: recipe for target 'dkms' failed
make: *** [dkms] Error 1

[2016-07-04 06:39] thwaller commented on #57
All is good. Deleted that directory, now install is proceeding. Thanks.

[2016-07-04 06:52] thwaller commented on #57
@zedtux - now from running here:
~/Douane/douane-dialog$ make
I get a bunch of errors. I am in "The Dialog Process".
Here is the beginning of it:

xxxxxx@xxxxxx:~/Douane/douane-dialog$ make
g++ -pedantic -Wall -W -g `pkg-config --cflags --libs liblog4cxx dbus-c++-1 gtkmm-3.0` -DDOUANE_VERSION=\"0.0.1\" -o dbus/dbus_client.o -c dbus/dbus_client.cpp
In file included from /usr/include/glibmm-2.4/glib

[2016-07-04 07:07] thwaller commented on #57
I also do not have this "Now you should got a Douane application in your applications"

[2016-07-04 07:45] zedtux commented on #57
@thwaller can you try this PR: Douane/douane-dialog#9 ?

[2016-07-04 08:05] thwaller commented on #57
Ok, I have done that and it did complete but I saw a few warnings pop up in there. My issue now is that with all installed, there is nothing in applications to run a gui and it is crashing a lot (system crashes caused by Douane). It is no longer asking what to do when access is attempted and all is denied access. All I can do is stop the service.

If there is no fix, is there an uninstall to remov

[2016-07-04 08:12] zedtux commented on #57
Everything is installed in `/opt/douane` and in the systemd folder.

Now regarding a fix, there is this PR Douane/douane-dkms#16 where @Guimli tries to solve the kernel freeze issue.

[2016-07-04 08:20] thwaller commented on #57
Ok. Well first, is there anything except the service that may cause issues? I can easily just stop that. I seem to get locks even with the service stopped though, so I believe there is more. Where is the service set to run automatically?

Second, I assume that the kernel freeze issue is not yet resolved? I looked over the link and it appears it is not yet a solution?

[2016-07-04 08:29] thwaller commented on #57
@zedtux - what/where am I specifically looking for in regard to the systemd folder? I am able to follow all you have said thus far, but am unclear only on that part. Unless I am looking in the wrong place, nothing is as cleat as the "douane" directory in there.

[2016-07-05 07:59] zedtux commented on #57
Regarding the kernel module, you can just go to the kernel module sources (folder douane-dims) and use `make cleandkms` which will uninstall and remove the kernel module from your kernel.

Regarding systemd, it's standard, you can search on this internet (sorry I don't know by heart).

[2016-07-05 09:45] thwaller commented on #57
Thanks. I am still not following you with systemd. What is it in that folder I am to delete or remove? Regarding a search, I am not sure what I am searching for. I can locate the systemd folder, I just do not know what was placed in there. I hope that makes sense.

[2016-07-05 15:05] zedtux commented on #57
Sorry for not having being clear enough. You should have to remove the file in [that folder](https://github.com/Douane/douane-daemon/tree/master/system.d).

[2016-07-05 22:09] thwaller commented on #57
No problem at all. I was able to figure it out by review of the makefile's. The link you provided confirmed I did get it correct, so that is good. Sorry I had to remove at this time, hope to give it a go again soon. :)

[2016-07-06 05:53] zedtux commented on #57
Sorry for the situation, unfortunately I don't have so much time for now to work on this project. Hopefully, next year I should have more time.

[2016-07-17 17:35] Kosti1 opened #58 "Error on compiling deamon"
g++ -pedantic -Wall -W -g `pkg-config --cflags --libs liblog4cxx dbus-c++-1` -DDOUANE_VERSION=\"0.9.0\" -o dbus/dbus_server.o -c dbus/dbus_server.cpp
In file included from dbus/dbus_server.h:6:0,
                 from dbus/dbus_server.cpp:1:
dbus/douane.h:9:50: fatal error: interface/org_zedroot_douane_adaptor.h: No such file or directory
 #include "interface/org_zedroot_douane_adaptor.h"

[2016-07-17 20:52] zedtux commented on #58
Thank you @Kosti1 for your issue. Please open daemon issues on [the daemon repository](https://github.com/Douane/douane-daemon) as described in the project [architecture documentation](https://github.com/Douane/Douane/wiki/Architecture).

Then please follow the steps from [the compilation documentation](https://github.com/Douane/Douane/wiki/Compilation) and you shouldn't have this issue anymore.

[2016-07-17 20:52] #58 closed

[2016-07-31 02:17] cmalkus opened #59 "sendmsg: Connection Refused"
I get the following error in my log file when I turn the configurator on. I also have a red notification next to the switch that says `D-bus service org.zedroot.Douane not found` on mouseover

`30/07/2016 16:02:18  INFO: Loaded 136 Freedesktop desktop files`
`30/07/2016 16:02:18  INFO: Loaded 0 rules`
`30/07/2016 16:02:18 ERROR: Error while calling sendmsg: Connection refused`
`30/07/2016 16:02:18

[2016-07-31 08:03] zedtux commented on #59
I have re-opened the issue at the right place.

[2016-07-31 08:03] #59 closed

[2016-08-11 05:43] chaosdrop commented on #39
AUR packages are still broken (a year later) Checksums don't match, and the package name paths are wrong. eg: They look for packagename-git when everything in the src folders don't have -git.

So you can get things installed by skipping the checksum (bad) and renaming the files or renaming the package (bad) also the  "pkgver" script is failing so it had to be changed as well. (also bad)

[2016-08-11 05:56] zedtux commented on #39
Sorry to hear about this, but I'm not in charge of packaging Douane. As I previously said @pulser make it.
See if he can help or just fix the package? (Sorry I have no idea about the process of creating packages on Arch).

[2016-09-07 18:33] Hugo14453 opened #60 "Cannot Compile Daemon"
Hello!

I think I messed up my installation of boost...

I'm getting this error message while attempting to compile daemon:
http://pastebin.com/NzzBqNG6

Thanks for any help

[2016-09-10 08:38] zedtux commented on #60
Hello @Hugo14453,

Can you please post the output of the following command:

[code]

[2016-09-18 18:26] zinks- opened #61 "Allow adding rules from the configurator window"
It would be useful to be able to add rules in the configurator, without having to wait for the "allow/deny" dialog!

[2016-11-11 00:00] alexstaj opened #62 "flatpak"
can you package this for flakpak please.

see flatpak.org

[2016-11-11 06:47] zedtux commented on #62
Thank you @alexstaj for your issue. I don't take care of packaging, but in case someone could do it, I'll be more than happy to update the website then with the package instructions.

[2016-12-24 02:04] holabolamola opened #63 "GUI not working ubuntu16.04"
Hello
gui not working in ubuntu16.04
I tried:  running ~/douane/douane-daemon/douaned and I could not make it run.
but douane-dialog in  ~/douane/douane-dialog/douane-dialog  works fine but it only shows empty page with 'about' in it , and if something needs approval it will ask for it.
how can I run the main application?

[2016-12-24 04:44] zedtux commented on #63
Hello @holabolamola,

It looks like you're trying to run the application in a different manner that I has been built. The application is normally installed under `/opt/douane/`.

`douaned` is mandatory for `douane-dialog` so until `douaned` is not running, starting `douane-dialog` alone make no sens.

Please check [the log file](https://github.com/Douane/Douane/wiki/Debugging) and post here the in

[2016-12-24 14:02] holabolamola2 commented on #63
Hi @zedtux thanks for the quick reply
I couldn't reply in the same account I lost my email.
`douaned` under `/opt/douane/` is not showing any thing when I click it.
here is the log of `tail -f /var/log/kern.log`

[code]
and here is the log of `tail -f /var/log/douane.log`

[code]

This happens when I try to open `/opt/douane/douaned` :
`24/12/2016 16:52:50  INFO: Loaded 136 Freedesktop desktop fil

[2016-12-24 16:58] zedtux commented on #63
This means Douane has already worked and you have allowed or denied 5 applications.

So Just to be sure to understand. You followed [the application startup documentation](https://github.com/Douane/Douane/wiki/Compilation#starting-the-douane) but the daemon dies, is that correct?
Otherwise, can you please describe what you do step-by-step until you're stuck?

[2016-12-25 18:51] holabolamola2 commented on #63
hello @zedtux  I know , it's working fine the only problem is the main gui is not working
I did followed the [ application startup documentation ](https://github.com/Douane/Douane/wiki/Compilation) .
and I tried installing it in another pc same problem.
` step-by-step until you're stuck?`
I start douane by:
`sudo service douane start`
then it works as it suppose to be , it even shows the allow den

[2016-12-26 09:58] zedtux commented on #63
`douaned` is the daemon process is a part of [the Douane puzzle](https://github.com/Douane/Douane/wiki/Architecture) which has no GUI. It is responsible to receive from the kernel the network packets and queue the unknown traffic in order to get the dialog process poping up.

Instead, are you looking for [the configurator process](https://github.com/Douane/douane-configurator)?

[2016-12-26 16:53] holabolamola2 commented on #63
Will I don't know what to say , I'm so sorry for wasting your time in such a silly mistake.
Yes what I was looking for is the douane-configurator and it did work via the terminal.
please close the issue as I can't close it.
thank you for your help.

[2016-12-27 13:00] zedtux commented on #63
It's okay @holabolamola2 :)

[2016-12-27 13:00] #63 closed

[2017-01-01 18:58] boussou opened #64 "Fix Arch PKGBUILD"
I tried to build it on Arch OpenRC. To make it work I had to change the **pkgver** which was returning empty.

as below (at the **printf** line):

[code]

[2017-01-01 19:07] boussou commented on #64
The same applies to

1. douane-configurator
2. douane-dialog

I also have a suggestion: please remove the dbus dependancy so that I don't have to edit the build file.
douane build perfectly without it.

[2017-01-03 10:13] zedtux commented on #64
Hello @boussou,

Sorry but I'm not taking care of the packaging, so I'm not gonna change it, but feel free to do it :)

This I can't as it's a strong dependency of Douane (all the parts are talking to each other through DBus)

[2017-01-03 10:26] boussou commented on #64
That will be for the record.
I build all components fine, but I am using manjaro-openrc
https://sourceforge.net/projects/manjaro-openrc/ and I think it would need some effort to make it work.

[2017-01-03 10:26] #64 closed

[2017-01-12 18:35] x-solid opened #65 "Ubuntu 16.04 X64: D-Bus service org.zedroot.Douane not found"
Hello!

I'm trying to get Douane running on Ubuntu 16.04 x64.
There is a exclamation mark next the filter network traffic switch. Moving the mouse cursor on it, the error message is shown. -> screenshot. ![douane-configurator](https://cloud.githubusercontent.com/assets/25086210/21902955/34b92550-d8fe-11e6-8625-de6acbe1c463.png)

It is possible to switch it on. The configurator asks for root the pa

[2017-01-12 19:51] zedtux commented on #65
Hello @x-solid,

Thank you for giving a try to Douane.
Can you please `tail` the douane log as described in [the debugging documentation](https://github.com/Douane/Douane/wiki/Debugging) please?

[2017-01-13 04:26] x-solid commented on #65
Hello zedtux

Sure, I think Douane is a great idea und I would really like to get it running on my machine.
Currently I installed it on a VM based on a new installation of Ubuntu 16.04 x64.

Here I have the douane dialog and daemon log for you:

[douane.log.txt](https://github.com/Douane/Douane/files/703525/douane.log.txt)

[2017-01-13 07:03] zedtux commented on #65
So the error is the following:

[code]

The daemon process is not able to connect to the kernel module (douane-dkms). Can you please export the logs from the `kern.log` relating to Douane please?

[2017-01-13 14:43] x-solid commented on #65
It seems something went wrong in the line douane: module verification failed

[code]

Unfortunately the kern.log is too big to attach. Grew up to 39 MB in 15 minutes

[2017-01-13 15:46] zedtux commented on #65
So based on your comment and [this SO answer](http://stackoverflow.com/questions/24975377/kvm-module-verification-failed-signature-and-or-required-key-missing-taintin), it looks like you have a security option enabled in your kernel which prevents the Douane kernel module to run properly.

[2017-01-13 15:46] #65 closed

[2017-01-13 23:30] darknessenvelops opened #66 "Douane fails to compile"
Douane failed to compile. The terminal log is attached. I tried everything I could think of. This was on a Mint 18 Mate 64-bit system. Please fix these compilation errors!
[Compilation impossible.txt](https://github.com/Douane/Douane/files/705562/Compilation.impossible.txt)

[2017-01-14 08:13] x-solid commented on #65
Thank you. Well, it seems to me this Ubuntu kernel is compiled with the security option enabled by default.
Can you please tell me which version of Ubuntu 16.04 you were successfully using in[ this kernel topic](https://github.com/Douane/douane-dkms/issues/3)?

[2017-01-14 09:49] zedtux commented on #66
[code]

Looks like you're missing a dependency. The documentation has been made for Debian and Ubuntu, you should not have any issues, but if it's the case, I can update the documentation for Mint. Just let me know the package you have installed in order to fix the build issue and I'll change it.

[2017-01-14 09:51] zedtux commented on #65
As mentioned in my last comment of pointed topic: Ubuntu 16.04.1.

So you say you haven't enabled any special features? It's the first time I see this issue.

[2017-01-14 10:30] x-solid commented on #65
Yes, I didn't. Ubuntu 16.04.1 AMD64 installation is quite simple and I can't remember such an special option. May be it is because I installed it in a VM and there might be secure boot enabled in virtual bios (I wasn't able to check that up to now). As descriped here, there is a [depency](http://askubuntu.com/questions/773734/how-to-install-module-ko-module-without-kernel-signature-or-kernel-rebui

[2017-01-14 10:54] zedtux commented on #65
The link you gave is really interesting, thank you.

Can you please open a ticket in the [daemon](https://github.com/Douane/douane-dkms) repository with this link?

I am always using the 64 bits version.

That's cool man 😃 👍

[2017-01-22 00:33] ireallydontexist opened #67 "Git communication blocked but not detected"
Salut,

The firewall works pretty well to detect and allow/block most of my apps... except git (command line).
During a `git clone`, the traffic is blocked but the Douane dialog doesn't show up.

Any idea ?

Logs:
[code]

[2017-01-22 03:06] ireallydontexist commented on #67
Pb found, in fact the douane-dialog did a segfault. So nobody was here to get the D-bus signal.

[2017-01-22 08:46] zedtux commented on #67
Salut @ireallydontexist,

Any chance you post the sefault in this issue please?

[2017-01-22 08:48] #67 closed

[2017-01-22 17:29] ireallydontexist commented on #67
Unfortunately, no chance.... the terminal history was not long enough...

[2017-01-28 01:14] b-long opened #68 "Feature request: Support for Windows and macOS"
This project looks incredible, great job!

My sense is that this effort could be a highly sought after alternative to proprietary offerings (e.g. [Little Snitch](https://www.obdev.at/products/littlesnitch/index.html)).  It would be fantastic if you could support the other major platforms and may motivate additional developers to contribute.

Will you consider supporting other platforms and perhaps

[2017-01-28 09:00] zedtux commented on #68
Thank you @b-long for this issue 👍

Initially I wrote Douane because Linux is lacking a good application firewall and because I'm using Little Snitch on macOS (and for Windows, I don't know if any kind of app like this exists).

For sure you have a point here, but Douane is not mature enough for this today.
I have implemented the only the Minimum Valuable Product and compared to Little Snitch (usi

[2017-02-03 07:18] AshotN opened #69 "douane-dialog crashing"
I just installed Douane and got a couple of prompts for SSH/Java/Telegram but now I'm trying to use Spotify and it won't give me an option to allow it.

[2017-02-03 07:22] zedtux commented on #69
Can you please check the Douane log file in order to check what's going on?

[2017-02-04 01:05] AshotN commented on #69
The log is really long and contains some information I'd rather not share on Github, I'm hoping this snippet is relevant if not I'll share the whole log via a more private medium

02/02/2017 23:17:34 | daemon |  INFO | [rules_manager.cpp::RulesManager:57]: Currently 5 pending rules
02/02/2017 23:17:34 | daemon | DEBUG | [dbus/dbus_server.cpp::DBusServer:48]: DBusServer::signal_new_unknown_activity

[2017-02-04 10:25] zedtux commented on #69
I think the douane-dialog process has crashed so it cannot popup anymore. Restarting it should fix your issue.
Can you please check that?

[2017-02-04 10:28] AshotN commented on #69
I restarted my computer and it didn't solve it, how can I restart the dialog process alone.

[2017-02-04 11:20] zedtux commented on #69
Normally, after the compilation and installation steps, you started it using `/opt/douane/bin/douane-dialog &`.

You can first check you have no running douane-dialog process on your machine.
Then you can run it again using the same command.

[2017-02-04 13:55] AshotN commented on #69
I killed the process and used the command to restart it, at first it froze so I killed it and started it again and it started popping up Spotify/Electron etc...

So the problem is now why the dialog is crashing rather than a Spotify specific issue

[2017-02-06 15:50] zedtux commented on #69
Agree

[2017-02-14 12:31] Henrietta1989 opened #70 "Latest version?"
I'm new at GitHub and i'm confused if Douane is still being actively developed??

Last commit is 27 Apr 2014 but wiki and issues page has some activity.

So is Douane still safe to use in Raspbian and where i can download latest version?

Thanks

[2017-02-14 17:03] zedtux commented on #70
Hello @Henrietta1989,

I'm working on other projects so I'm not continuing to develop Douane for now, but the project is not abandoned.

When people are contributing, I'm taking the required time to help and make it happening.
I'm planning to come back on Douane one day but for now I have a very big project taking all my time.
Sorry about that.

The latest version is the version in Github. As of t

[2017-02-15 04:02] Henrietta1989 commented on #70
Thanks. Unfortunately i'm total newbie in programming so i can't help.

Gufw is the only similar firewall GUI app i know which runs in Raspbian and is actively kept up to date.

Are there any other?

And if i install your app, how safe it is to use these days?

[2017-02-15 09:23] zedtux commented on #70
Learning packaging is something not that hard and is really helpful.

Gufw is different from Douane, or actually Douane is different from all other firewall app on Linux. Douane is working at application level while all the others are working on the network level.

Are there any other?

`iptables` ?

The applications is working, laking of features, and there a known performance issue on the daemon

[2017-02-15 11:10] Henrietta1989 commented on #70
How bad that performance issue is? I probably would install it if it don't eat CPU away. Could you fix it?

[2017-02-15 15:01] zedtux commented on #70
The daemon process is not eating the CPU but the RAM. There a place where it seems I'm not cleaning the memory and the memory usage of the daemon process is growing slowly but continuously.
The means the daemon process needs to be restarted (no problem, you'll not lose any data) like everyday, depending on your network usage :)

[2017-02-16 03:46] #70 closed

[2017-02-23 17:03] zedtux commented on #69
@AshotN do you have some news regarding your issue?

[2017-02-23 22:06] rchipka opened #71 "Monitor filesystem access"
It would be nice if Douane would implement filesystem access controls.

The macOS app [Hands Off!](https://www.oneperiodic.com/products/handsoff/) does this in a way similar to Little Snitch.

Are there any plans to implement this feature? If not, would a pull request implementing this feature be accepted?

[2017-02-24 06:40] zedtux commented on #71
This feature wasn't foreseen but it looks interesting. Nevertheless it sounds like breaking the UNIX principle to me:

2 options in my eyes:

- Build a plugin architecture
- Build another app based on Douane

No, it wasn't plan.

Of course, and I'll be more than happy to do it.

[2017-02-25 01:58] AshotN commented on #69
I haven't been running the Douane as it renders some applications useless :(

I also haven't been on Linux these past few days, but if you have any suggestions on how I can debug it I'll give it a shot over the weekend

[2017-03-07 17:59] rjzak commented on #68
Not pertaining to Douane, but there are two similar apps to Douane & Little Snitch for Windows: Windows Firewall Control https://www.binisoft.org/wfc.php and GlassWire https://www.glasswire.com/. Neither are as thorough or detailed as Little Snitch.

[2017-03-10 18:32] qazip commented on #45
Is there any news regarding this? Couldn't find a PPA with Douane

[2017-03-10 19:06] zedtux commented on #45
Thank you @free5lot for your comment, I'm using Debian (but I was using Ubuntu at the time of the development of Douane).

@qazip Unfortunately I don't have the time to do this task.

[2017-03-26 09:43] arterhacker opened #72 "douane-dialog call failed error"
hi everyone, what is the problem exactly?

[code]

[2017-03-29 17:51] zedtux commented on #72
Hello @arterhacker,

Your error seems to be related to permissions to me. Can you please show the output of `ls -al /var/log/douane.log`?

[2017-03-30 08:06] arterhacker commented on #72
Sure. Here is:

[code]

[2017-03-30 11:35] zedtux commented on #72
Okay so I think I figured out what is your issue.

I do believe you ran the dialog process with sudo once, which you shouldn't otherwise the file is owned by the root user and then you tried to run it again but without sudo which leaded you to the permission issue.

So first thing, I would suggest you to either kill the `/var/log/douane.log` file or change the owner of the file to you and then run

[2017-03-30 11:35] #72 closed

[2017-03-30 14:09] arterhacker commented on #72
I've removed all douane files after use the "cleandkms" command. (dkms cleared successfully too). then, I've installed douane again, here is the steps and results:
https://gist.github.com/arterhacker/6bc55b27a4f42001ecf7a8f321b02492

you can see errors on last lines. after these errors, I've created a file called "douane.log" then I've changed this file's chown to my user. there is no error now. b

[2017-03-31 11:55] zedtux commented on #72
Have you deleted the douane.log file?

[2017-03-31 13:15] arterhacker commented on #72
Ups, yes. as I said before, I've deleted all Douane files. So, this process includes the log file too. But then, I've created the log file again and changed the ownership.

[2017-04-03 08:47] zedtux commented on #72
Is creating the file and changing the ownership solving your issue?

The file created by the application will be the same as the one of the running application so that if you run it with your account, it shouldn't fail with a permission denied issue.

What Linux distro are you using? (`lsb_release -a` ?)

[2017-04-03 12:25] arterhacker commented on #72
after creating the file and changing the ownership, there is no error anymore. douane log is just saying that:

`03/04/2017 14:29:40  INFO: The log file is /var/log/douane.log`

and no more entry for this process. also, `$ /opt/douane/bin/douane-dialog` process is still waiting without error, but dialog window isn't appear. I've tried many thing, but nothing solves. There is no error now, just dia

[2017-04-03 12:32] arterhacker commented on #72
Here are additional informations:

I've followed debugging steps,

[code]

Also, I get an crash report after that. Crash title is: `douaned crashed with SIGABRT in __gnu_cxx::__verbose_terminate_handler()`

[2017-04-03 12:51] arterhacker commented on #72
Here is [new detail](https://gist.github.com/arterhacker/1af73b97a78f667e31816b9b2fe6b035)

[2017-04-03 12:57] arterhacker commented on #72
Here is [new detail](https://gist.github.com/arterhacker/c6693716ea4d5fd8b9f16fa9331280ce)

[2017-04-03 15:00] zedtux commented on #72
Nice comments @arterhacker :)

Based on [your previous comment](https://github.com/Douane/Douane/issues/72#issuecomment-291129258) it seems that something prevented the installation of the [org.zedroot.Douane.conf](https://github.com/Douane/douane-daemon/blob/master/system.d/org.zedroot.Douane.conf) file (It is supposed to be in the folder `/etc/dbus-1/system.d/`. Can you please check that?).

Ano

[2017-04-04 07:39] arterhacker commented on #72
Yep, it is here:
[code]

Sure. I've installed everything again to show you the permissions.

**Here is the output while install it:**
[code]
You can see the douaned file here too.

**Also, here is the permissions after installation:**
[code]

I guess, there is a problem about permission. :) But I assure you, I've tried what did you said in the compile page of the wiki.

[2017-04-04 11:28] zedtux commented on #72
Aha, I think I understood what's wrong.

The `douaned` process is installed and accessible only by `root` on purpose, and you should not change its permissions.
You *must* use the systemd script in order to start the daemon so that it run as root.
If I'm not mistaking, I think you're trying to run it yourself, using your username, am I right?

The _normal_ way of using Douane should be the followi

[2017-04-04 12:01] arterhacker commented on #72
Uh, yes, I guess something is solved  but not completely :p

After start the douane from terminal, it blocked everything as you know, then I checked with tail comment, I saw that it working and saying that: "no rules", also checking the apps.

Then I tried to run this command: `/opt/bin/douane/douane-dialog &` and it worked in this case! :) Sorry if there is a problem caused by me).

**OK but some

[2017-04-18 08:57] Forkest commented on #33
Probably it will be more complicated, but I'd like to control access based on the requested DNS names too.

[2017-04-18 12:00] zedtux commented on #33
@Forkest do you mean filtering the DNS requests based on the name like for instance if I blocked `myapp.com` in Douane, that all request to this name are blocked?

[2017-04-18 13:27] Forkest commented on #33
I'd like to have such functionality so that I could allow a program to connect to specific domains or subdomains only, like a white list, or vice versa - allow everything, except some domains, like a black list.
In the interface I expect to be able to use a domain name in the places where I am able to use an IP address.

But what is the best way to implement this is to be decided. Probably interce

[2017-04-18 13:37] zedtux commented on #33
Ha, it's clearer know @Forkest thank you

[2017-04-18 14:18] Forkest opened #73 "Incoming connections"
Feature request of all the existing functionality, but for incoming connections and port opening.

[2017-04-19 05:33] zedtux commented on #73
@Forkest I don't think it is technically possible as Douane is an application traffic firewall, which means Douane needs to know the application generating (or in this case receiving) the traffic.

[2017-04-20 12:34] Forkest commented on #73
Knowing which application tries to receive the traffic and be able to block it is the whole point of this request. I don't know how exactly it could be implemented, but it should be possible, since [you can easily list](https://www.cyberciti.biz/tips/linux-display-open-ports-owner.html) opened ports and the corresponding apps.

[2017-06-12 16:23] NotANormie opened #74 "Masses of BLOCKED PUSH logs printed to the user"
I am not sure whether this is my own fault from compiling it incorrectly or what not... Yet, I whenever I drop down to TTY when I need to make some core changes in the system (I am on Debian Sid), I am spammed periodically with "douane:430:push: BLOCKED PUSH: process_path is blank."

This has been occurring for a while but I have ignored it and turned off logging as it causes thousands of megabyte

[2017-06-19 16:37] mauron85 commented on #62
The question is if kernel modules can be packaged as flatpak/snaps. If not then only dialog and daemon and configurator can be packged.

[2017-06-19 18:38] mauron85 commented on #72
Hi zedtux. Thank you for douane, it's awesome. I think I've same issue with Ubuntu 16.04.
Daemon is running under root user. And dialog is started from autostart desktop file as me. I've changed permissions of log file to me. But dialog was not popping up. So I've killed dialog, and tried to start it from terminal. Dialog didn't show permission error, but it will fail to connect to dbus (not sure)

[2017-06-19 18:51] mauron85 commented on #74
I guess this is related douane kernel module.

https://github.com/Douane/douane-dkms/blob/61023b91fbafab8e63d8c271ec25aa0929f2f643/douane.c#L428

And happens when process path is empty, which is apparently quite often for some processes.

[2017-06-20 04:42] zedtux commented on #74
Thank you guys for having opened this issue.

Honestly I don't remember having so much output of this log ... it's wired. @mauron85 you pointed the right line of code.

Maybe activating the debug mode for the kernel module could help to understand what is going wrong. Could you please, both, try enabling the debug mode using [this page of the wiki](https://github.com/Douane/Douane/wiki/Debugging),

[2017-06-20 04:48] zedtux commented on #72
@mauron85 the daemon process must run as root, otherwise it will not be able to communicate with the kernel module.

Regarding the dialog process, it should run using the logged in user as DBus allow publishing methods from a process running as root to be executed from a non root user.

Now, it could be that Ubuntu has changed this behaviour, or the DBus project changed their mind about this...

R

[2017-06-20 04:49] zedtux commented on #62
Good point @mauron85 👍

[2017-06-20 05:35] mauron85 commented on #72
@zedtux that explains why I failed with running daemon under special non-root user. I've created user 'douane' with no priviliges and set init script to run daemon as that user.

[2017-06-24 17:43] NotANormie commented on #74
Alright, now I am being spammed in the kern.log with
[17066.261510] douane:794:print_tcp_packet: TCP | [seq:2512035138|ack_seq:3170714102
[17066.261511] douane:1110:netfiler_packet_hook: NF_ACCEPT (No daemon).
[17066.261532] douane:680:task_has_open_file: fd_null_max: 0 | MAX_FD_NULL: 9
these three over and over again.
Also: douane:1095:netfiler_packet_hook: !!OOPS!! process_owner_path is blank bu

[2017-06-24 17:58] NotANormie commented on #74
Alright, this is quite possibly the laziest solution ever (check attachments). Yet, seeing this remedied would be nice but isn't there a switch you can use in the config of douane-dkms where you can toggle off all messages and errors?
![image](https://user-images.githubusercontent.com/29356754/27510694-7ab9edb0-590e-11e7-99b0-9c260e2af91b.png)

[2017-06-26 05:48] zedtux commented on #74
@NotANormie I'm sorry you're spammed, but actually those messages indicates that Douane is not working correctly in your configuration.

Disabling this piece of code could lead you to kernel panics or daemon crashes. Be careful when changing the code :)

What is the output of `lsb_release -a`?

[2017-06-29 00:45] xenixxx opened #75 "Compile error on Debian GNU/Linux 9.0 stretch"
Hi, i got a compile error, what i missed? Please help, btw great project...

[code]

[2017-06-29 05:57] zedtux commented on #75
Hi @xenixxx and thank you for your issue :)

I guess the version of the boost packages you're using are too recent. A quick fix would be to downgrade them, and a longer fix would be to manage this in the code in order to support both versions.

[2017-07-02 12:50] NotANormie commented on #74
No LSB modules are available
I guess I forgot to compile something somewhere?
Disabling that specific message is not going to affect anything on my part since I have been using Douane for a long time with that message.

[2017-07-03 06:40] zedtux commented on #74
Sorry, I forgot you mentioned you're on Debian sid :)

Okay, then if you don't have any crashes, I'm fine with that :)

Now that you're the only one having this issue, I suggest to close it but feel free to update it if needed ;)

[2017-07-03 06:40] #74 closed

[2017-07-15 00:09] cryptoatropine commented on #75
do you mean by changing the Debian control files ? or something like that ....       When you speak of managing it in source code ?

[2017-07-15 09:13] zedtux commented on #75
Nope, I mean to update the Douane code in order to change the way methods are called.

[Here](https://github.com/Douane/douane-dkms/blob/master/douane.c#L456) is an example in the Douane kernel module where we said "If the version of the Linux kernel is higher or equal to 3.7.0 then we call the `portid` attribute, for lower versions we call the `pid` attribute.
In the same way we have to manage th

[2017-07-15 20:13] cryptoatropine commented on #75
i see yes, well that is something i may be-able to figure out ..  i'll see about figuring that out ...

[2017-07-16 07:13] zedtux commented on #75
That would be awesome @cryptoatropine !

[2017-07-17 20:44] cryptoatropine commented on #75
Hmm well i never got this issue, i just went though the whole compile no issues at all ..... the only thing on this system is that system.d claims there is no run-level ...

[2017-07-18 06:40] zedtux commented on #75
Thank you @cryptoatropine for this feedback. @xenixxx can you please post here the list of `boost*` packages you installed? So that @cryptoatropine can compare and tell which package has not a correct version?

[2017-07-20 08:28] demchenkoe commented on #27
Hi.
Please add advanced info about destination IP  (aka whois) to the allow/deny dialog.
This is IMHO more usability.

[2017-07-20 09:40] zedtux commented on #27
@demchenkoe your request has nothing to do with this issue. Please open a feature request in [the dialog repo](https://github.com/Douane/douane-dialog/issues)

[2017-07-20 09:42] zedtux commented on #69
@AshotN everything you need to know about debugging is on [this Wiki page](https://github.com/Douane/Douane/wiki/Debugging).

[2017-07-20 09:43] zedtux commented on #66
Since you're not updating the issue, I'm closing it.

[2017-07-20 09:43] #66 closed

[2017-07-20 09:44] zedtux commented on #60
Since there's no update on this issue, I'm closing it.

[2017-07-20 09:44] #60 closed

[2017-07-20 09:47] zedtux commented on #51
@shpedoikal do you have any news since @czapa-ols did a PR which has been merged in master?

[2017-07-20 09:48] zedtux commented on #52
@bzkdjc Douane stability has been improved a lot thanks to @Guimli. Can you please have a look and update this issue?

[2017-07-20 09:50] zedtux commented on #47
@bash64 as I said in #52 the Douane stability has been improved a lot, can you please check and update this issue?

[2017-07-21 21:14] tk421storm commented on #69
I'm having the same issue here, running Ubuntu 16.04 with xfce4. When i start up the computer, the douane service is running, but it can't seem to create dialogues. Force-quitting the douane-dialog process and re-starting it doesn't make a difference. All the new apps get added to a "pending" list:

21/07/2017 17:10:48 | daemon |  INFO | [rules_manager.cpp::RulesManager:57]: Currently 2 pending ru

[2017-07-22 10:00] zedtux commented on #69
@tk421storm please run the dialog process in debug mode and check the logs

[2017-10-25 16:05] jpaulo10 commented on #68
I use tripmode in windows/mac to limit wich applications can access my network. Certainly it doesn't have as many features as Little Snitch, but it solves my problems.

[2017-10-25 17:11] b-long commented on #68
Thanks @jpaulo10 , I appreciate you highlighting them.  Another effort, similar to Douane is OpenSnitch: https://github.com/evilsocket/opensnitch .  There may be bits of overlap between the two that could be shared.

[2017-11-13 19:29] pipiscrew opened #76 "Failed to start douane.service"
hi all,

Im sitting on :
ArchLinux v4.13.11-1-ARCHx86

--

Compile all from :
https://github.com/Douane/Douane/wiki/Archlinux-Packaging

with the exception on all PKGBUILD, I had to remove the `pkgver() { .. }` coz causes error.

trying to install **dkms-1-1-x86_64.pkg.tar** end up with :

[edit]
installing **lts kernel** the packages can be installed without problem!

I can see the douane-configu

[2017-11-26 21:38] amarildojr commented on #73
You could use my set of incoming filter rules to at least block everything that might be risky, and use Douane to filter outcoming calls. I'll test this tonight to see if it's possible.

My rules: https://github.com/amarildojr/Firewall/blob/master/Output

[2018-01-23 00:07] samic130 opened #77 "Problem with KeePass2"
Everything works fine on my system. (Linux Mint 17.3 Cinnamon with Kernel 3.19.0)
It asked for permisson for Firefox and etc and I allowed and it worked.
Then I ran keepass2 and it asked for a connection for "/usr/bin/mono-sgen". I denied and keepass didn't run.
Since then I can't run keepass unless I stop the Dounane service.
I even deleted that deny rule but it didn't help.
Here is the log:

[co

[2018-01-23 06:25] zedtux commented on #77
Thank you @samic130 for your issue.

As the no rules was found from the kernel module, the connections for `/usr/bin/mono-sgen` are queued, meaning not dropped but kept a side, and the dialog process should popup and ask you if you want to allow/deny the connection.

The extract of the logs you gave shows logs only from `daemon`. It is now interesting to have the logs from `dialog` in order to und

[2018-01-23 06:30] zedtux commented on #76
Thank you @pipiscrew for your issue.

Sorry for the late reply, I missed the notification about your issue. 😞

I developed Douane on a Debian distro, which wasn't using systemd at that time. You can see how Douane is installed in [this Makefile](https://github.com/Douane/douane-daemon/blob/master/Makefile#L44).

I guess a PR should be opened installing the missing systemd files.

[2018-01-23 06:33] zedtux commented on #73
@Forkest you're probably right, it should be possible.

[2018-01-23 06:36] zedtux commented on #68
@b-long what about a PR updating the `README.md` file pointing to a Wiki page with this list of options?

[2018-01-23 06:42] zedtux commented on #56
@Sharsie thank you for the repost of the files.

The issue is coming from one of the 2 lines [from here](https://github.com/Douane/douane-dkms/blob/master/douane.c#L881).

`ip_header->saddr` and `ip_header->daddr` doesn't have the expected content and my first guess would be that the IP addresses aren't in IPv4 format but IPv6 which I never tried.

In my eyes, the first thing is to add a `printk`

[2018-01-25 11:00] teol opened #78 "Compile error on Mint 18.2"
Hello,

I'd like to try Douane so I followed the wiki's steps to install dependencies and compile.
But a problem occurs when I try to compile the douane-dkms kernel module.

Here are a few information:
[code]

[code]

Build log:
[code]

I am missing something, or is there a quickfix I can do?

Thanks!

[2018-01-25 12:29] zedtux commented on #78
Thank you @teol for your issue. I think you're having the same issue as douane-dkms#26. Please followup on this other issue.

[2018-01-25 12:29] #78 closed

[2018-02-15 15:55] saitam1 opened #79 "Douane doesn't start on boot"
I have switched on the button in the configurator for `Auto start Douane on boot` and the button is also active after a computer restart, but Douane itself isn't active. All my programms have internet access.

![douane](https://user-images.githubusercontent.com/23245678/36266044-e258dc58-1270-11e8-8132-766c59de02ea.png)

How to handle this?

[2018-02-15 16:06] saitam1 opened #80 "Dialog Window don't appear, but connections are blocked"
When I turn on `Douane` with the configurator or start it via terminal the dialog window doesnt' appear on every app. It won't recognize `Geary Mail` and a few other apps, so the connection on them is blocked and the apps aren't usable. There is also no possibilty to add a rule for an app manually.
![error mail](https://user-images.githubusercontent.com/23245678/36266637-3c3e2f42-1272-11e8-8964-2a

[2018-02-15 16:07] saitam1 opened #81 "Uninstall Douane"
Is there somewhere an instruction on how to `uninstall` Douane if it continue not to work correctly  ?

[2018-02-15 16:45] saitam1 opened #82 "configurator shows wrong state"
When turning off both features in configurator it still doesn't let connect an app anywhere, which is not listed in rules. See screenshot:

![tele](https://user-images.githubusercontent.com/23245678/36268874-f613a802-1277-11e8-849a-f2bcd5a5c179.png)

Is there a solution?

[2018-02-16 10:55] saitam1 opened #83 "Configurator GUI bug (switch buttons)"
Whenever you switch one of both button `ON` or `OFF` you have to type in the `sudo` password to have the changes taken in effect. If you just click `cancel` on the authentication form, the button will switch anyway to either `ON` or `OFF` (depending on the previous state). Even if it has no effect in the background, the GUI show a state which is not active.

[2018-02-17 11:25] zedtux commented on #83
Thank you @saitam1 for your issue. I fully agree with your comment, please open it at [the right place](https://github.com/Douane/douane-configurator/issues).

[2018-02-17 11:25] #83 closed

[2018-02-17 11:28] zedtux commented on #82
Thank you @saitam1 for this issue.

I'm a bit confused when I'm reading the issue's title and description. Just to be sure I got your point:

1. You started douane
2. You have allowed/denied access to the internet for an app
3. You switch off both features in the configurator
4. The allowed/denied app is allowed but all other apps are blocked?

Is that correct?

[2018-02-17 11:32] zedtux commented on #81
Thank you @saitam1 for this issue.

No, I never took the time to write one, but basically you have to:

- Remove the configurator folder
- Delete the daemon and the dialog processes
- Use the `dkms uninstall` command in order to remove the kernel module (Have a look at [this SO question](https://askubuntu.com/questions/849547/how-do-i-uninstall-dkms-modules-if-there-are-two-of-them) to have an ide

[2018-02-17 11:32] #81 closed

[2018-02-17 11:34] zedtux commented on #80
Thank you @saitam1 for this issue.

The described scenario looks like the dialog process has crashed.

 - Have you checked that all the Douane processes are running when this happen?
 - Have you checked the log files?

[2018-02-17 11:39] zedtux commented on #79
Thank you @saitam1 for this issue.

I do know that this feature isn't working for everybody. When I started Douane, `systemd` wasn't yet ready, then with upgrades, it came and I did updated the project, but seems to not work all the time.

Can you please check the Douane logs in order to see any kind of information that would help?

[2018-03-03 08:50] danarmstrong commented on #80
I am experiencing this as well. The dialog segfaults when a new alert is triggered. Usually if I restart douane-dialog a few times the problem is corrected and the dialog appears allowing me to allow/deny the applications. Then it happens again the next time a new app triggers it. In every instance this has occurred it is when multiple processes trigger the dialog at the same time. For example, To

[2018-03-03 08:51] danarmstrong commented on #80
Out of curiosity I just started an application that I knew would only have a single process trigger the dialog (hexchat) and the dialog did not crash on that one. This issue appears to be related to multiple entries on the dialog.

[2018-03-03 22:09] erdemoncel opened #84 "Compilation of kernel module fails"
Compilation of kernel module fails with this error message on Ubuntu 16.04 64 bit.

[code]

[2018-03-05 06:24] zedtux commented on #84
There is already an issue [opened here](https://github.com/Douane/douane-dkms/issues/26) for the kernel 4.13 and [a Pull Request](https://github.com/Douane/douane-dkms/pull/27) that you could give a try and upvote it.

[2018-03-05 06:24] #84 closed

[2018-03-05 06:26] zedtux commented on #80
Hey nice catch @danarmstrong ! 👍
So the dialog process is suffering a concurrence issue. @danarmstrong could you please open an issue on [the right project](https://github.com/Douane/douane-dialog) summarising what you discovered?

[2018-03-06 06:19] zedtux commented on #80
Thank you @danarmstrong for having created the issue https://github.com/Douane/douane-dialog/issues/13, I'm now closing this one.

[2018-03-06 06:19] #80 closed

[2018-03-08 09:15] zedtux commented on #47
@bash64 another improvement has been merged on the `master` branch. Please have a look and let me know 😃

[2018-03-12 13:42] jmaris opened #85 "PKGBUILDs no longer working"
[code]
It appears one of the PKGBUILDS is broken

[2018-03-12 15:04] zedtux commented on #85
Thank you @jmaris for this report.

I'm not taking care of the packaging of Douane so I will not fix it, but I can redirect you to the issue #39 where some other people are discussing the packaging issue.

[2018-04-12 07:29] intika commented on #62
an appimage could be possible, but a flatpak it's kind a weird...
1. - Flatpak is a container like a virtualbox, using douane on the host will do the job but using it inside a flatpak is useless because flatpak separate the packages from each other so douane will have no effect on other apps
2. - Loading the kernel module in a userspace will limit its action to the userspace that run the module, s

[2018-04-12 07:36] zedtux commented on #62
Thank you @intika for your input. I don't know at all this technology and your explanations looks clear to me.

[2018-04-12 07:40] intika commented on #71
Humm you are looking for a kind a HIPS ^^ thats cool indeed, but i think this is out of the scope of douane...
There is a lot of other solutions that could be combined to douane to do the job

[2018-04-12 07:42] intika commented on #51
had the same issue on a fedora like system... and fixed it @zedtux merged the fix can you git clone and try again

[2018-04-12 07:46] intika commented on #62
:+1:

[2018-04-12 07:58] intika commented on #32
Fixed in the current release, can you try again

[2018-04-12 15:03] intika opened #87 "Tray icon feature - douane-tray"
Following the discussion on https://github.com/Douane/douane-dialog/pull/14
We will discuss here a tray application

[2018-04-12 15:14] intika opened #88 "What network communications is supported"
It would be nice to have a section "supported com" or something on the wiki that describe what is supported and what's not

i don't know enough your code to be able to answer that question fully but for now i know

Supported :
- Support any outgoing connection generate by application/library
- Supported Protocols : TCP/UDP/ICMP ... and ? raw ?
- Supported Direction : Outgoing - Listening

Not Supp

[2018-04-12 15:20] intika opened #89 "Detailed question window ?"
How to display details on the question window  (ip and protocol) as the capture on https://github.com/Douane/Douane ?

[2018-04-12 21:03] intika commented on #79
i added a pull request to solve that problem
can you check with new version
or just add `# chkconfig: - 01 99` to the file /etc/init.d/douane just before description

[2018-04-12 21:07] intika commented on #76
can you try with the last release,
also you will need initscripts package
https://pkgs.org/download/initscripts

[2018-04-12 21:16] intika commented on #41
can you try with the last release,
also you will need initscripts package it's missing on your system
https://pkgs.org/download/initscripts
if still does not work you can add chkconfig package
and you could also try to reinstall systemd package

init.d folder is part of those packages

[2018-04-13 05:34] zedtux commented on #26
Sorry @intika I don't have it anymore but it was a very simple one, just to show the notification, it wasn't implementing the action buttons.

[2018-04-13 05:38] zedtux commented on #89
Those information was on the modal at the very beginning, and someone opened an issue asking to simplify it.
I wasn't really against it as the non-technical people aren't really looking at that information.
The idea was to have a kind of "More details" button or something which will give technical information.

The deamon process is aware of the IP addresses (source and destination) and also about

[2018-04-13 06:04] zedtux commented on #88
Douane is an application firewall preventing unknown applications to send data, so it is outgoing only (as of now) direction.

Regarding the rest, the kernel module is using the Linux Kernel NetFilter module in order to catch the network packets before there are routed to the network card. Any packets going through this module are watched by Douane.

So to summarise, Douane is simply filtering use

[2018-04-13 15:53] intika commented on #26
@zedtux :+1:

[2018-04-13 16:10] intika commented on #88
okay i will update the read me

[2018-04-13 16:11] #88 closed

[2018-04-13 17:07] intika commented on #62
this issue should be closed

[2018-04-13 17:08] intika commented on #51
should be closed (also its a duplicate of some start daemon issues)

[2018-04-13 17:14] intika commented on #32
should be closed

[2018-04-13 18:11] zedtux commented on #32
@bonanza123 can you please update this issue?

[2018-04-13 18:12] zedtux commented on #51
@intika please link issues together if there are duplicates.

@shpedoikal and @czapa-ols can you please update this issue?

[2018-04-13 18:14] zedtux commented on #62
@alexstaj any input or shall we close this issue?

[2018-04-13 18:50] intika commented on #89
i can not find any commit about it on douane-dialog i guess it was made outside github
its in douane-dialog right ?

[2018-04-13 19:11] intika commented on #89
okay i got it
https://github.com/Douane/douane-dialog/commit/95c5f0c6d4393aac56ffa63fb18ac9cb173bc0b0#diff-40b74e5edde5efd915cfad9b676a6830

[2018-04-13 19:15] intika commented on #89
will reverse that in my personal release here https://github.com/intika/douane-dialog-detailed
for those how will be interested

[2018-04-16 05:34] zedtux commented on #89
@intika why not implementing an option instead of doing your own fork?

[2018-04-17 17:37] intika commented on #89
because just reverting that change is an easy thing to get done, but yeah you are right adding it as an option would contribute to the project instead of sparing it...
To be honest here is the situation... i am looking for a firewall for application, your by design (kernel module) is the best one available right now, even better than opensnitch who can not watch every thing... but the problem is :

[2018-04-17 17:37] #89 closed

[2018-04-18 06:03] zedtux commented on #89
I follow you 100%!

In my eyes, first thing first, open issues for all your points. Something like "The configurator need to have a feature to edit rules" is really easy and quick to do. But this needs should be well described (I guess you don't mean just editing. We should have an add, edit and delete action, right?).

When those issues are open, it could be that someone passing by will implement

[2018-04-22 06:39] zedtux commented on #26
@intika I found the python script I did in the past used to make those screenshots :)

[notif.py.zip](https://github.com/Douane/Douane/files/1935272/notif.py.zip)

[2018-04-26 17:00] thebunnyrules opened #91 "Compilation issue with g++ 7.2"
Hi,

I'm getting a C++ error when I try to compile douane-daemon:

Error (see the full output at the bottom of this post, if you need more context):

[code]

the douane-daemon that I initially cloned from github was missing the /dbus/interface. I cloned the latest commit from douane-debus and placed it in that folder. I'm on Ubuntu 17.10 and am using g++ 7.20 (maybe I should try another version?).

[2018-04-27 04:45] zedtux commented on #91
Hello @thebunnyrules and thank you for your issue. What Linux Kernel are you using?

[2018-04-27 16:58] gshall opened #92 "feature request"
In the configurator I'd like the ability to manually add programs.

[2018-05-04 05:08] zedtux commented on #91
Well this version should work fine.

No, it doesn't.

----

That's strange you have those compilation issues...

This is already strange as nobody faced this case. What about uninstalling and removing everything and try again?

[2018-05-04 07:43] zedtux commented on #92
Thank you @gshall for your issue. Please re-open it in [the right place](https://github.com/Douane/douane-configurator) with more details like how to select the program and so on.

[2018-05-04 07:43] #92 closed

[2018-05-04 22:09] thebunnyrules commented on #91
Worth a try.  I'll let you know how it goes.

[2018-05-05 21:37] thebunnyrules commented on #91
I re-installed everything on a fresh install of Ubuntu 17.10 on a different machine, I still got the same results. Maybe it's a bug with my version g++. What version of the gcc toolkit do you use? I'm using 7.2 (that's the version that comes with this release of Ubuntu).

[2018-05-07 01:47] thebunnyrules commented on #91
This is to confirm that the problem was indeed with g++ 7.2 and was resolved by installing g++-6 and setting it as the main compiler:

`sudo update-alternatives --install /usr/bin/g++ g++ '/usr/bin/g++-6' 1
`

[2018-05-07 06:57] zedtux commented on #91
Nice catch @thebunnyrules !

[2018-05-08 05:26] zedtux commented on #91
I have updated the Wiki page https://github.com/Douane/Douane/wiki/Dependencies with your command and with a warning.

I should go with Travis CI and a build script testing different versions of g++ in order to discover this before the users.

[2018-05-08 18:01] TraxXavier opened #93 "Unable to locate package liblog4cxx10-dev on ubuntu 18"
Unable to locate package liblog4cxx10-dev on ubuntu 18

[2018-05-09 06:59] zedtux commented on #93
Thank you @TraxXavier for your issue.

[2018-05-15 19:49] Hugo14453 commented on #93
@okok90909 Works for me

[2018-05-16 06:36] zedtux commented on #93
Wiki updated, thank you @okok90909

[2018-05-16 06:36] #93 closed

[2018-05-17 02:57] thebunnyrules commented on #91
I'm just greatful to have a proper fw in linux.

[2018-05-17 05:44] zedtux commented on #91
Thank you so much @thebunnyrules for your comment ! If you have any issue, please feel free to open issues 😃

[2018-05-20 12:24] mnavahan opened #94 "ubuntu 18.04 :c crash sometimes after Enable service trafic"
Hi
I install the same wiki .
After install any time i active "use douane to filter my network"
my notebook randomly complimentary freeze

ubuntu 18.04 Freez  sometimes after Enable service trafic

[2018-05-20 15:28] zedtux commented on #94
I guess your issue duplicates Douane/douane-dkms#3. Please contribute to the mentioned issue. All information are welcome in order to stabilise the app.

[2018-05-20 15:28] #94 closed

[2018-05-22 08:37] mrmotallebi commented on #69
I've noticed that the dialog process has issues with AppImage programs. For example, it dies whenever I try to grant access to [NextCloud client](https://github.com/nextcloud/client). I don't know if it's because the files AppImage creates in `/tmp` with root:root owner or something else.

[2018-05-22 11:18] zedtux commented on #69
Thank you @mrmotallebi for your update on this issue.

Someone caught that the dialog process is suffering of concurrency issue. Maybe this "AppImage" is doing parallel stuff crashing the dialog 😞

[2018-06-10 03:35] thebunnyrules opened #95 "How can I package Douane into a .deb installer once I've finished compiling it?"
Hi ZedTux,

I noticed that you were kind enough to include the files needed for making .deb installers for the different douane packages once we're done building them but I am unsure how to go about it.

[2018-06-10 05:12] zedtux commented on #95
Hey @thebunnyrules,

Well, at the very beginning I was taking care of packaging Douane for Debian/Ubuntu, but it was really time consuming so I decided to stop doing it, and focus on the development.

I'm looking for packagers ! As you can see from [the Packages Wiki page](https://github.com/Douane/Douane/wiki/Packages), I'm missing packagers a lot 😞.

If you wants to take care of the Debian / Ubu

[2018-06-10 11:31] thebunnyrules commented on #95
I've never packaged before but I'd really like to learn how. It would be alot more practical than having to compile from source on every machine I want to install. If you can show me how to do it, I wouldn't mind helping out with the packaging (or writing a more detailed tutorial for the wiki).

I found this simple tutorial here: https://ubuntuforums.org/showthread.php?t=910717 but packaging for t

[2018-06-10 17:38] zedtux commented on #95
Well you got the big picture !

But you need to check further because Debian requires files to be here, while Ubuntu requires the same files to be somewhere else.

Basically you start by packaging all yourself, get working packages on many versions (for now the projet is not going forward due to a lack of time on my side), and then you could submit the kernel module (after having learn a lot more

[2018-06-10 21:06] thebunnyrules commented on #95
It's a really nice project and it would be my pleasure to help but I'm going to have get much more knowledgeable about packaging before I can help you with it.

I'll play around with it. I'm still not clear on how I can isolate the built files after I run the make st. For example, say I build douane-daemon.  I do
`make`
and that build the binaries and then I do
`make install`
which install the bin

[2018-06-10 23:30] cryptoatropine commented on #95
ya i was going to pick this up, a while back, but my horrible net connection and time constraints have put a hamper on it.  forget about check install [in the below link] just skip down to the basic tools for packing ... then follow the link for Debian packages.. linda is no longer a thing ... that is old .... so a good starting point ... but take it as old and maybe in need of updates.

https://w

[2018-06-11 00:07] cryptoatropine commented on #95
i have done done packing before, so i maybe able to help with the learning process as well,

but i don't always have a net connection, so can sometimes take a long time to respond ..
That said i would like help in the process as much as i feasibly can..

i did make these all into debs a while back, and all of them were easy except the dkms ... never got it to work on more than the system it was bu

[2018-06-11 03:34] thebunnyrules commented on #95
@crytoatrophine, thanks so much for the link. I haven't read through it all but it looks really helpful even if it's old. Thanks for the much appreciated offer of help and I'll definetly take you up once I have any questions.

I think you may have hit a wall with the dkms because of Secure Boot. As UEFI has become ubiquitous, most PCs come with it enabled by default since the early to mid 2010s.

[2018-06-11 04:13] zedtux commented on #95
Thank you @cryptoatropine for joining here.

You can automate everything using a CI (Like Travis CI for instance) which would checkout the git repositories, run a script doing all the packaging thing.
In this case, you internet connection isn't important 😃

[2018-06-13 10:45] zedtux commented on #95
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/95).

[2018-06-13 10:46] zedtux commented on #91
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/91).

[2018-06-13 10:47] zedtux commented on #87
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/87).

[2018-06-13 10:47] zedtux commented on #85
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/85).

[2018-06-13 10:47] zedtux commented on #82
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/82).

[2018-06-13 10:48] zedtux commented on #79
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/79).

[2018-06-13 10:48] zedtux commented on #77
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/77).

[2018-06-13 10:48] zedtux commented on #76
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/76).

[2018-06-13 10:48] zedtux commented on #75
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/75).

[2018-06-13 10:49] zedtux commented on #73
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/73).

[2018-06-13 10:49] zedtux commented on #71
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/71).

[2018-06-13 10:50] zedtux commented on #69
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/69).

[2018-06-13 10:51] zedtux commented on #68
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/68).

[2018-06-13 10:51] zedtux commented on #62
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/62).

[2018-06-13 10:51] zedtux commented on #61
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/61).

[2018-06-13 10:52] zedtux commented on #56
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/56).

[2018-06-13 10:52] zedtux commented on #55
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/55).

[2018-06-13 10:52] zedtux commented on #53
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/53).

[2018-06-13 10:52] zedtux commented on #52
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/52).

[2018-06-13 10:53] zedtux commented on #51
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/51).

[2018-06-13 10:53] zedtux commented on #48
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/48).

[2018-06-13 10:53] zedtux commented on #47
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/47).

[2018-06-13 10:53] zedtux commented on #45
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/45).

[2018-06-13 10:54] zedtux commented on #41
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/41).

[2018-06-13 10:54] zedtux commented on #39
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/39).

[2018-06-13 10:54] zedtux commented on #35
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/35).

[2018-06-13 10:54] zedtux commented on #33
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/33).

[2018-06-13 10:55] zedtux commented on #32
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/32).

[2018-06-13 10:55] zedtux commented on #31
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/31).

[2018-06-13 10:55] zedtux commented on #30
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/30).

[2018-06-13 10:55] zedtux commented on #27
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/27).

[2018-06-13 10:56] zedtux commented on #26
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/26).

[2018-06-13 10:56] zedtux commented on #25
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/25).

[2018-06-13 10:56] zedtux commented on #23
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/23).

[2018-06-13 10:56] zedtux commented on #22
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/22).

[2018-06-13 10:57] zedtux commented on #20
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/Douane/issues/20).

[2018-07-18 04:52] #26 closed

[2018-07-18 04:53] #22 closed

[2018-07-18 04:53] #20 closed

[2019-02-14 14:51] #39 closed

[2019-02-14 14:51] #41 closed

[2019-02-14 14:51] #45 closed

[2019-02-14 14:51] #47 closed

[2019-02-14 14:51] #48 closed

[2019-02-14 14:51] #51 closed

[2019-02-14 14:51] #52 closed

[2019-02-14 14:51] #53 closed

[2019-02-14 14:51] #55 closed

[2019-02-14 14:51] #56 closed

[2019-02-14 14:51] #61 closed

[2019-02-14 14:51] #62 closed

[2019-02-14 14:51] #68 closed

[2019-02-14 14:51] #69 closed

[2019-02-14 14:51] #71 closed

[2019-02-14 14:51] #73 closed

[2019-02-14 14:51] #75 closed

[2019-02-14 14:51] #76 closed

[2019-02-14 14:51] #77 closed

[2019-02-14 14:51] #79 closed

[2019-02-14 14:51] #82 closed

[2019-02-14 14:51] #85 closed

[2019-02-14 14:51] #87 closed

[2019-02-14 14:51] #91 closed

[2019-02-14 14:51] #95 closed

[2019-02-14 14:51] #23 closed

[2019-02-14 14:51] #25 closed

[2019-02-14 14:51] #27 closed

[2019-02-14 14:51] #30 closed

[2019-02-14 14:51] #31 closed

[2019-02-14 14:51] #32 closed

[2019-02-14 14:51] #33 closed

[2019-02-14 14:51] #35 closed

[2019-12-23 17:07] planetRocker opened #96 "code ?"
where is the code ?

[2019-12-30 11:03] zedtux commented on #96
As you can see on the `README.md`, the project has moved to Gitlab.

[2019-12-30 11:03] #96 closed, assigned to nobody